{% extends 'masterpage.twig' %}

{% block head %}

	{{ parent() }}

{% endblock head %}

{% block content %}

	<div class="container-fluid" style="text-align: center">

		<h1>Bonjour&nbsp;<span class="text-semibold">{{ user_logged.user.prenom }}&nbsp;{{ user_logged.user.nom }},</span></h1>

		<h4>Bienvenue sur votre espace MyDigital.
		{% if user_logged.navbar_apps|length > 0 %}
			Pour commercer cliquez sur une application
		{% else %}
			Désolé aucune application de disponible pour le moment
		{% endif %}
		</h4>

		{% for app in user_logged.navbar_apps %}
			<a href="{{ URL_PREFIX ~ '/modules/' ~ app.nom_dossier }}">
				<img src="{{ URL_PREFIX ~ '/modules/' ~  app.nom_dossier ~ '/img/logo.png' }}" alt="{{ app.nom }}" style="width: 200px;margin-right: 10px;margin-bottom: 15px">
			</a>
		{% endfor %}

	</div>

	<script>
    
		$(function() {

		})
        
	</script>

{% endblock content %}