{% extends 'masterpage.twig' %}

{% block head %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.common.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.bootstrap.mobile.min.css" />

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/kendo.all.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/prettify.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/jszip.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/pako_deflate.min.js"></script> <!-- Load Pako ZLIB library to enable PDF compression -->
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/kendo.web.plugins.extgrid.js"></script> <!-- External Columns filter -->

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/messages/kendo.messages.fr-FR.min.js"></script>

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>

    <style>
        .toolbar {
            padding-top: 5px;
            padding-bottom: 4em;
        }
        .fc-toolbar-left {
            padding-top: 0.3px;
            float: left;
        }
        .fc-toolbar-right {
            float: right;
        }
        .toolbar .fc-toolbar-left .btn.btn-default{
            padding: 3px 10px;
        }
        #grid{
            margin-top: -5px;
        }
        .k-grid-header tr th{
            text-align: center !important;
        }
        .k-alt, .k-pivot-layout>tbody>tr:first-child>td:first-child, .k-resource.k-alt, .k-separator {
            background-color: rgba(48, 107, 162, 0.12);
        }
    </style>

    <style>
        .fancytree-icon{
            display: none;
        }
    </style>

{% endblock head %}

{% block content %}

    <div class="row">
        <div id="panel-content" class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <h1 class="mt-5"><b>LISTE APPLICATIONS</b></h1>
                    <div id="grid" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_app" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="fa fa-edit" style="font-size: 17px"></span>&nbsp;&nbsp;<b><u>Application</u></b></h5>
                    <button type="button" class="close" data-dismiss="modal"><span class="btn-close fa fa-times-circle"></span></button>
                </div>
                <div class="modal-body">
                    <div class="panel-scroll" style="height: 550px">
                        <span id="form_app-container"></span>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Rôles</h5>
                                <div id="grid-roles" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Profils</h5>
                                <form action="#" id="form-app_add_profil" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group" style="margin-bottom: 10px">
                                                <input type="text" class="form-control" placeholder="Nom" name="nom" tabindex="1">
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <button type="button" class="btn btn-save btn-labeled btn-labeled-right" onclick="addProfil()">
                                                <b><i class="fa fa-plus-circle"></i></b>
                                                Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div id="grid-profils" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-save btn-labeled btn-labeled-right" onclick="saveApp()">
                        <b><i class="fa fa-save"></i></b>
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_app-profil" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="fa fa-edit" style="font-size: 17px"></span>&nbsp;&nbsp;<b><u>Profil</u></b></h5>
                    <button type="button" class="close" data-dismiss="modal"><span class="btn-close fa fa-times-circle"></span></button>
                </div>
                <div class="modal-body">
                    <span id="form_app-profil-container"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-delete btn-labeled btn-labeled-right" onclick="deleteProfil()">
                        <b><i class="fa fa-trash"></i></b>
                        Supprimer
                    </button>
                    <button type="button" class="btn btn-save btn-labeled btn-labeled-right" onclick="saveProfil()">
                        <b><i class="fa fa-save"></i></b>
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_app-role" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="fa fa-edit" style="font-size: 17px"></span>&nbsp;&nbsp;<b><u>Rôle</u></b></h5>
                    <button type="button" class="close" data-dismiss="modal"><span class="btn-close fa fa-times-circle"></span></button>
                </div>
                <div class="modal-body">
                    <span id="form_app-role-container"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <!--<button type="button" class="btn btn-delete btn-labeled btn-labeled-right" onclick="deleteProfil()">
                        <b><i class="fa fa-trash"></i></b>
                        Supprimer
                    </button>
                    <button type="button" class="btn btn-save btn-labeled btn-labeled-right" onclick="saveProfil()">
                        <b><i class="fa fa-save"></i></b>
                        Enregistrer
                    </button>-->
                </div>
            </div>
        </div>
    </div>

    <script>

        function loadGrid(selector, columns, url){
            $("#" + selector).kendoGrid({
                "toolbarColumnMenu": false,
                "columns":columns,
                "autoBind": true,
                "dataSource":{
                    "sort":[
                    ],
                    "transport":{
                        "read":{
                            "url":url,
                            "contentType":"application\/json",
                            "type":"POST"
                        },
                        "parameterMap":function(data) {
                            return kendo.stringify(data);
                        }
                    },
                    "page": 1,
                    //"pageSize":100,
                    "schema":{
                        "data":"data",
                        "model":{
                            "fields":[
                            ]
                        },
                        "errors":"errors",
                        "groups":"groups",
                        "aggregates":"aggregates",
                        "total":"total"
                    },
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    //"refresh":true,
                    //"buttonCount": 5,
                    //"pageSizes":[10,20,30,50,100]
                }
            });
        }
        function setGrid(selector, filters){
            var grid = $("#" + selector).data("kendoGrid");
            var jsonOptions = grid.getOptions();
            jsonOptions.dataSource.filter = {'filters':filters,'logic': "and"};
            jsonOptions.dataSource.page = 1;
            grid.setOptions(jsonOptions);
        }
        function setGridProfils(){
            var filters = [];
            filters.push({
                "field": 'id_APPLICATIONS',
                "operator": 'eq',
                "value": getAppID()
            });
            setGrid('grid-profils', filters);
        }
        function setGridRoles(){
            var filters = [];
            filters.push({
                "field": 'id_APPLICATIONS',
                "operator": 'eq',
                "value": getAppID()
            });
            setGrid('grid-roles', filters);
        }

        var source = {{ apps|json_encode|raw }};

        function getAppID(){
            return $("#form-app_info [name='id']").val();
        }
        function getProfilID(){
            return $("#form-app_profil_info [name='id']").val();
        }

        function loadApp(id){
            $.LoadingOverlay("show");
            $.ajax({
                url:'api/admin/apps/' + id,
                type:'GET',
                async:false,
                success: function(json){
                    json = JSON.parse(json);
                    if(json.result === true){
                        $("#form_app-container").empty().html(json.html);
                        $("#form_app-container .select2").select2({
                            minimumResultsForSearch: Infinity
                        });
                        setGridRoles();
                        setGridProfils();
                        $("#modal_app").modal('show');
                    }
                    $.LoadingOverlay("hide");
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }
        function saveApp(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form-app_info")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/admin/apps/'+getAppID()+'/edit',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        $.LoadingOverlay("hide");
                        for (var i = 0; i < source.length; i++){
                            if(source[i]['id'] === getAppID())
                                source[i]['statut'] = $("#form-app_info [name='statut']").val()
                        }
                        var grid = $("#grid").data("kendoGrid");
                        grid.setDataSource(new kendo.data.DataSource({
                            data: source,
                            page: 1,
                            serverFiltering:true,
                            serverSorting:true,
                            serverGrouping:true,
                            serverPaging:true
                        }));
                        $("#modal_app").modal('hide');
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }

        function loadRole(id){
            $.LoadingOverlay("show");
            $.ajax({
                url:'api/admin/apps/'+getAppID()+'/roles/' + id,
                type:'GET',
                async:false,
                success: function(json){
                    json = JSON.parse(json);
                    if(json.result === true){
                        $("#form_app-role-container").empty().html(json.html);
                        $("#modal_app").modal('hide');
                        $("#modal_app-role").modal('show');
                    }
                    $.LoadingOverlay("hide");
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }

        function addProfil(){
            $.LoadingOverlay("show");
            var nom_profil = $("#form-app_add_profil [name='nom']").val();
            if(nom_profil === ""){
                showNotify("Nom requis", "danger");
                $.LoadingOverlay("hide");
            }else{
                var formData = new FormData($("#form-app_add_profil")[0]);
                setTimeout(function (){
                    $.ajax({
                        url:'api/admin/apps/'+getAppID()+'/profils/add',
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            $("#form-app_add_profil [name='nom']").val("");
                            setGridProfils();
                            $.LoadingOverlay("hide");
                            showNotify("Profil ajouté avec succès", "success");
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            }
        }
        function loadProfil(id){
            $.LoadingOverlay("show");
            $.ajax({
                url:'api/admin/apps/'+getAppID()+'/profils/' + id,
                type:'GET',
                async:false,
                success: function(json){
                    json = JSON.parse(json);
                    if(json.result === true){
                        $("#form_app-profil-container").empty().html(json.html);
                        $('#form_app-profil-container .listbox').bootstrapDualListbox({
                            moveOnSelect: false,
                            infoText: '{0} rôle(s)',
                            infoTextFiltered: '<span class="label label-warning">FILTRE</span> {0} rôle(s) sur {1}',
                            infoTextEmpty: 'Aucun rôles',
                            filterPlaceHolder: 'Filtrer',
                            filterTextClear: 'Voir tout'
                        });
                        $("#modal_app").modal('hide');
                        $("#modal_app-profil").modal('show');
                    }
                    $.LoadingOverlay("hide");
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }
        function saveProfil(){
            $.LoadingOverlay("show");
            var nom_profil = $("#form-app_profil_info [name='nom']").val();
            if(nom_profil === ""){
                showNotify("Nom requis", "danger");
                $.LoadingOverlay("hide");
            }else{
                var formData = new FormData($("#form-app_profil_info")[0]);
                setTimeout(function (){
                    $.ajax({
                        url:'api/admin/apps/'+getAppID()+'/profils/' + getProfilID() + '/edit',
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            $.LoadingOverlay("hide");
                            $("#modal_app-profil").modal('hide');
                            $("#modal_app").modal('show');
                            setGridProfils();
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            }
        }
        function deleteProfil(){

            swal({
                title:"Êtes-vous sûr ?",
                text:"Le profil va être supprimé",
                type:"warning",
                html:true,
                showCancelButton:true,
                confirmButtonText:"OUI",
                confirmButtonColor:"#4caf50",
                cancelButtonText:"NON",
                closeOnConfirm:false,
                closeOnCancel:false,
            },function(isConfirm){
                if(isConfirm){
                    $.LoadingOverlay("show");
                    $.ajax({
                        url:'api/admin/apps/'+getAppID()+'/profils/' + getProfilID() + '/delete',
                        type:'DELETE',
                        success: function(json){
                            json = JSON.parse(json);
                            if(json.result === true){
                                $("#modal_app-profil").modal('hide');
                                $("#modal_app").modal('show');
                                setGridProfils();
                                swal({
                                    title:"Succès",
                                    text:"Le profil a été supprimé avec succès",
                                    confirmButtonText:"OK",
                                    confirmButtonColor:"#4caf50",
                                    type:"success"
                                })
                            }else{
                                swal({
                                    title:"Erreur",
                                    text:"Impossible de supprimer ce profil",
                                    confirmButtonText:"OK",
                                    confirmButtonColor:"#4caf50",
                                    type:"error"
                                })
                            }
                            $.LoadingOverlay("hide");
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                }else{
                    swal({
                        title:"Opération annulé",
                        text:"Le profil n'a pas été supprimé",
                        confirmButtonText:"OK",
                        confirmButtonColor:"#4caf50",
                        type:"info"
                    })
                }
            })
        }

        $(function() {

            $("#grid").kendoGrid({
                "toolbarColumnMenu": false,
                "columns":[
                    {
                        "field":"",
                        "title":"",
                        "width":40,
                        "attributes": { "style": "text-align: center;" },
                        "template": "<a onclick='loadApp(\"#: id #\")'><i class='icon-info22'></i></a>"
                    },
                    {
                        "field":"nom",
                        "title":"Nom",
                        "attributes": { "style": "text-align: center;" }
                    },
                    {
                        "field":"source",
                        "title":"Statut",
                        "attributes": { "style": "text-align: center;" },
                        "template":
                            "# if (source == 'NOT_LOCAL') { " +
                            "# <span class='label bg-warning'>INTROUVABLE</span> # " +
                            "}else if (source == 'LOCAL_AND_BDD' && statut == 1) { " +
                            "# <span class='label bg-success'>ACTIF</span> # " +
                            "}else { " +
                            "# <span class='label bg-danger'>INACTIF</span> # " +
                            "} #"
                    }
                ],
                "autoBind": true,
                "dataSource":{
                    "data": source,
                    "page": 1,
                    //"pageSize":100,
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    //"refresh":true,
                    //"buttonCount": 5,
                    //"pageSizes":[10,20,30,50,100]
                }
            });
            loadGrid(
                'grid-roles',
                [
                    {
                        "field":"",
                        "title":"",
                        "width":40,
                        "attributes": { "style": "text-align: center;" },
                        "template": "<a onclick='loadRole(\"#: id #\")'><i class='icon-info22'></i></a>"
                    },
                    /*{
                        "field":"tag",
                        "title":"Nom",
                        "attributes": { "style": "text-align: center;" }
                    },*/
                    {
                        "field":"descr",
                        "title":"Nom",
                        "attributes": { "style": "text-align: center;" }
                    },
                    {
                        "field":"tag_local_exist",
                        "title":"Statut",
                        "attributes": { "style": "text-align: center;" },
                        "template":
                            "# if (tag_local_exist) { " +
                            "# <span class='label bg-success'>OK</span> # " +
                            "}else { " +
                            "# <span class='label bg-warning'>ROLE SUPPRIME</span> # " +
                            "} #"
                    }
                ],
                'api/admin/apps/roles/read'
            );
            loadGrid(
                'grid-profils',
                [
                    {
                        "field":"",
                        "title":"",
                        "width":40,
                        "attributes": { "style": "text-align: center;" },
                        "template": "<a onclick='loadProfil(\"#: id #\")'><i class='icon-info22'></i></a>"
                    },
                    {
                        "field":"nom",
                        "title":"Nom",
                        "attributes": { "style": "text-align: center;" }
                    }
                ],
                'api/admin/apps/profils/read'
            )

            $('#modal_app-profil').on('hidden.bs.modal', function (e) {
                $("#modal_app").modal('show');
            });
            $('#modal_app-role').on('hidden.bs.modal', function (e) {
                $("#modal_app").modal('show');
            });

        });

    </script>

{% endblock content %}