{% extends 'masterpage.twig' %}

{% block head %}

	{{ parent() }}

	<style>
		.page-container {
			display: contents !important;
		}
		.h-100 {
			height: 100%!important;
		}
		.container {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
		@media (min-width: 576px){
			.container {
				max-width: 540px;
			}
		}
		@media (min-width: 768px){
			.container {
				max-width: 720px;
			}
		}
		@media (min-width: 992px){
			.container {
				max-width: 960px;
			}
		}
		@media (min-width: 1200px){
			.container {
				max-width: 1140px;
			}
		}
		.d-flex {
			display: -ms-flexbox!important;
			display: flex!important;
		}
		.justify-content-center {
			-ms-flex-pack: center!important;
			justify-content: center!important;
		}
	</style>

	<style>
		body, html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: rgb(230,230,230) !important;
		}
		.user_card {
			height: max-content;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: rgba(0,151,135,0.6);
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: rgb(230,230,230);
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
			background: white;
		}
		.form_container {
			margin-top: 110px;
		}
		.btn-form {
			width: 100%;
			background: rgba(0,125,143,1) !important;
			color: white !important;
		}
		.btn-form:focus {
			box-shadow: none !important;
			outline: 0 !important;
		}
		.input:focus {
			box-shadow: none !important;
			outline: 0 !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background: rgba(0,125,143,1) !important;
		}
		.user_card .links a{
			color: white;
		}
	</style>
    
{% endblock head %}

{% block navbar %}{% endblock navbar %}

{% block content %}

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
		    <div class="user_card">
    			<div class="d-flex justify-content-center">
	    			<div class="brand_logo_container">
		    			<img src="{{ URL_PREFIX }}/img/logo.png" class="brand_logo" alt="Logo">
		    		</div>
			    </div>
			    <div class="d-flex justify-content-center form_container">
					<form action="#" id="form-login" method="post" enctype="multipart/form-data">
                		<div class="form-group has-feedback has-feedback-left">
						    <input type="text" name="email" class="form-control" value="" placeholder="Email">
                            <div class="form-control-feedback">
								<i class="fa fa-envelope"></i>
							</div>
				        </div>
                   		<div class="form-group has-feedback has-feedback-left">
    				        <input type="password" name="password" class="form-control" value="" placeholder="Mot de passe">
                    	    <div class="form-control-feedback">
								<i class="fa fa-key"></i>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-3 mb-5 login_container">
							<button id="btn-submit" type="button" name="button" class="btn btn-form">Connexion</button>
						</div>
						<div class="d-flex justify-content-center mb-20">
							<a id="mdp_oublie">Mot de passe oublié ?</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_mdp-oublie" data-backdrop="static">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><span class="fa fa-key" style="font-size: 17px"></span>&nbsp;&nbsp;<b>Mot de passe oublié ?</b></h5>
					<button type="button" class="close" data-dismiss="modal"><span class="btn-close fa fa-times-circle"></span></button>
				</div>
				<div class="modal-body">
					<form action="#" id="form_mdp-oublie" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Email</label>
									<input type="text" class="form-control" placeholder="" name="email" value="" tabindex="1">
								</div>
							</div>
						</div>
						<div class="text-right">
							<button type="button" class="btn btn-save btn-labeled btn-labeled-right">
								<b><i class="fa fa-save"></i></b>
								Envoyer
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
    
		$(function() {

			$("#btn-submit").on('click', function(){
            	
                $.LoadingOverlay("show");
                 
                var formData = new FormData($("#form-login")[0]);

	            $.ajax({
					url:'api/login',
					type:'POST',
					processData: false,
					contentType: false,
					data: formData,
					success: function(json){
                    	json = JSON.parse(json);
                    	if(json.result === true){
                        	document.location.href = 'index.php';
                        }else{
	   					    var stack_custom_top = {"dir1": "down", "dir2": "right", "push": "top", "spacing1": 1};
							var opts = {
	            				text: "Identifiant ou mot de passe invalide",
				    	        width: "100%",
            					cornerclass: "no-border-radius",
			            		addclass: "stack-custom-top bg-danger",
	            				stack: stack_custom_top
					        };
        	    	        new PNotify(opts);
                        }
	                	$.LoadingOverlay("hide");
					},
					error: function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR['responseText']);
                	    $.LoadingOverlay("hide");
					}
				})

            });

			$("#mdp_oublie").on('click', function (){
				$("#modal_mdp-oublie").modal('show');
			});

			$("#modal_mdp-oublie .btn-save").on('click',function (){
				$.LoadingOverlay("show");
				var formData = new FormData($("#form_mdp-oublie")[0]);
				var stack_custom_top = {"dir1": "down", "dir2": "right", "push": "top", "spacing1": 1};
				$.ajax({
					url:'api/login/mdp_oublie',
					type:'POST',
					processData: false,
					contentType: false,
					data: formData,
					success: function(json){
						json = JSON.parse(json);
						if(json.result === true){
							new PNotify({
								text: "Un lien de réinitialisation vient d'être envoyé par mail",
								width: "100%",
								cornerclass: "no-border-radius",
								addclass: "stack-custom-top bg-success",
								stack: stack_custom_top
							});
						}else{
							new PNotify({
								text: "Désolé ! L'email est introuvable",
								width: "100%",
								cornerclass: "no-border-radius",
								addclass: "stack-custom-top bg-danger",
								stack: stack_custom_top
							});
						}
						$.LoadingOverlay("hide");
					},
					error: function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR['responseText']);
						$.LoadingOverlay("hide");
					}
				})
			})

		})
        
	</script>

{% endblock content %}