<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[MYDIGITAL] - SERVICE MULTICANAL</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
</head>

<body bgcolor="#FFFFFF" link="#0033FF" vlink="#0033FF">

<div style="height: 100%; width: 100%; background-color: #FFFFFF;" align="center">
    <center>
        <!--HEADER-->
        <table class="resp" bgcolor="" width="760" cellpadding="0" cellspacing="0" border="0" style="margin: 0px auto;">
            <tbody>
            <tr class="tab">
                <td class="tab" align="left">
                    <font face="arial,helvetica" size="2" style="font-size:9pt;">
                        <center style="margin:0 auto;max-width:760px;"><br>
                            <table class="resp" style="width: 760px;" cellspacing="0" cellpadding="5" border="0" align="center">
                                <tbody>
                                <tr>
                                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #8c8c8c; padding: 5px;" align="center">
                                        <p>
                                            <!--Si vous ne visualisez pas correctement cet email, <a href="newsletter.php?uid=" target="_blank" id="mirror" style="color:#676767;text-decoration:underline;">cliquez-ici</a>.-->
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <center style="margin:0 auto;">
                                <table class="resp" style="width: 760px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                    <tr>
                                        <td style="padding-bottom: 10px;">
                                            <table class="resp" style="width: 100%;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                <tbody>
                                                <tr>
                                                    <td style="padding: 10px; background-color: #eeeeee;">
                                                        <table class="resp" style="width: 100%;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding: 0px; background-color: #ffffff;" colspan="2">
                                                                    <div align="center">
                                                                        <img src="cid:header_mydigital" width="725" height="255" border="0" vspace="0" hspace="0" style="display: inline; float: right;" alt="IMG">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </center>
                        </center>
                    </font>
                </td>
            </tr>
            </tbody>
        </table>
        <!--CORPS-->
        <table class="resp" bgcolor="" width="760" cellpadding="0" cellspacing="0" border="0" style="margin: 0px auto;">
            <tbody>
            <tr class="tab">
                <td class="tab" align="left">
                    <font face="arial,helvetica" size="2" style="font-size:9pt;">
                        <center style="margin:0 auto;max-width:760px;">
                            <table class="resp" style="width: 760px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                <tr>
                                    <td style="padding-bottom: 0px;">
                                        <table class="resp" style="width: 100%;" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td style="padding: 10px; background-color: #eeeeee;">
                                                    <table class="resp" style="width: 100%;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                        <tbody>
                                                        <tr>
                                                            <td style="padding: 10px; width: 100%; background-color: #ffffff; vertical-align: top;">
                                                                <table class="resp" style="width: 100%;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 19px; color: #5b6770; padding: 10px; text-align: left; background-color: #ffffff;" colspan="2">
                                                                            <p style="text-align:left;">
                                                                                Bonjour&nbsp;{{ user.prenom }}&nbsp;{{ user.nom }},<br><br>

                                                                                Pour réinitialisation votre mot de passe, il suffit de cliquer sur le lien ci-dessous :<br><br>
                                                                            <center>
                                                                                <a href="https://mydigital.ca-corse.fr/apps/reinitialisation_mdp.php?guid={{ user.guid }}" target="_blank" rel="noreferrer noopener" style="background: #007d8f;padding: 10px;color: white;text-decoration: none;">
                                                                                    REINITIALISER MON MOT DE PASSE
                                                                                </a>
                                                                            </center>
                                                                            <br><br>
                                                                            Cordialement,<br>
                                                                            L'équipe MULTICANAL
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #6fbc85; font-weight: bold; text-align: center; background-color: #ffffff; padding: 5px 0;"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </center>
                    </font>
                </td>
            </tr>
            </tbody>
        </table>

        <!--FOOTER-->
        <table class="resp" bgcolor="" width="760" cellpadding="0" cellspacing="0" border="0" style="margin: 0px auto;">
            <tbody>
            <tr class="tab">
                <td class="tab" align="left">
                    <font face="arial,helvetica" size="2" style="font-size:9pt;">
                        <center style="margin:0 auto;max-width:760px;">
                            <table class="resp" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 760px;">
                                <tbody>
                                <tr>
                                    <td class="pad5lr" style="background-color: #ffffff;">
                                        <a href="https://crse.collab.ca-technologies.credit-agricole.fr/_layouts/15/CRSE.PROFILE.ATEL/CAUnit.aspx?List=63de7437%2D3fb4%2D4163%2D89fb%2Db26ec4d72def&amp;ID=4578&amp;Web=2997fce7%2D64f9%2D4b4e%2Dafb0%2D3c2238096217" target="_blank" title="" rel="noreferrer noopener">
                                            <img src="cid:footer" width="760" height="101" border="0" vspace="0" hspace="0" alt="IMG">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </center>
                    </font>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>

</body>

</html>