<form action="#" id="form-app_profil_info" method="post" enctype="multipart/form-data">
    <div class="row">
        <input type="hidden" name="id" value="{{ profil.id }}">
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom: 10px">
                <label class="control-label">Nom</label>
                <input type="text" class="form-control" placeholder="" name="nom" value="{{ profil.nom }}" tabindex="1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <select multiple="multiple" class="form-control listbox" name="roles[]">
                {% for role in roles %}
                    <option value="{{ role.id }}" {{ role.selected }}>{{ role.descr }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>
