<form action="#" id="form-app_role_info" method="post" enctype="multipart/form-data">
    <div class="row">
        <input type="hidden" name="id" value="{{ role.id }}">
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom: 10px">
                <label class="control-label">Tag</label>
                <input type="text" class="form-control" placeholder="" name="nom" value="{{ role.tag }}" tabindex="1" disabled>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom: 10px">
                <label class="control-label">Nom</label>
                <input type="text" class="form-control" placeholder="" name="nom" value="{{ role.descr }}" tabindex="1">
            </div>
        </div>
    </div>
</form>
