<form action="#" id="form-user_info" method="post" enctype="multipart/form-data">
    <input type="hidden" name="guid" value="{{ user.guid }}" tabindex="1">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" style="margin-bottom: 10px">
                <label class="control-label">Nom</label>
                <input type="text" class="form-control" placeholder="" name="nom" value="{{ user.nom }}" tabindex="1" disabled>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" style="margin-bottom: 10px">
                <label class="control-label">Prénom</label>
                <input type="text" class="form-control" placeholder="" name="prenom" value="{{ user.prenom }}" tabindex="1" disabled>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" style="margin-bottom: 0">
                <label class="control-label">Statut</label>
                <select class="form-control select2" name="statut" {{ (user.id == user_logged.user.id) ? 'disabled' : ''  }}>
                    <option value="1" {{ (user.statut == 1) ? 'selected' : '' }}>ACTIF</option>
                    <option value="-1" {{ (user.statut != 1) ? 'selected' : '' }}>INACTIF</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group" style="margin-bottom: 0">
                <label class="control-label">Email</label>
                <input type="text" class="form-control" placeholder="" name="email" value="{{ user.email }}" tabindex="1" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Rôles</h5>
            <div class="checkbox checkbox-switchery switchery-double" style="position: absolute;right: 10px;top: 5px;">
                <label>
                    VUE PROFILS
                    <input name="roles_vue" type="checkbox" class="switchery"">
                    VUE RÔLES
                </label>
            </div>
            <div id="tree_profils" class="tree-checkbox-hierarchical well border-left-blue-800 border-left-lg panel-scroll" style="height: 350px;">
                <ul>
                {% for roles_app in roles_apps %}
                    {% set appID = roles_app.app.id %}
                    <li id="app-{{ appID }}" class="expanded"><b>{{ roles_app.app.nom }}</b>
                        <ul>
                            {% for profil in roles_app.profils %}
                                {% set profilID = profil.profil.id %}
                                <li class="" id="app-{{ appID }}-profil-{{ profilID }}"><b>{{ profil.profil.nom }}</b>
                                    <ul>
                                        {% for role in profil.roles %}
                                            {% if(role.tag_local_exist) %}
                                                <li class="" id="app-{{ appID }}-profil-{{ profilID }}-role-{{ role.id }}">{{ role.descr }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="tree_roles" class="tree-checkbox-hierarchical well border-left-blue-800 border-left-lg panel-scroll" style="height: 350px;display: none">
                <ul>
                    {% for roles_app in roles_apps %}
                        {% set appID = roles_app.app.id %}
                        <li id="app-{{ appID }}" class="expanded"><b>{{ roles_app.app.nom }}</b>
                            <ul>
                                {% for role in roles_app.roles %}
                                    {% if(role.tag_local_exist) %}
                                        <li class="" id="app-{{ appID }}-role-{{ role.id }}">{{ role.descr }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</form>
