<form action="#" id="form-app_info" method="post" enctype="multipart/form-data">
    <div class="row">
        <input type="hidden" name="id" value="{{ app.id }}">
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 10px">
                <label class="control-label">Nom</label>
                <input type="text" class="form-control" placeholder="" name="nom" value="{{ app.nom }}" tabindex="1" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 0">
                <label class="control-label">Statut</label>
                <select class="form-control select2" name="statut">
                    <option value="1" {{ (app.statut == 1) ? 'selected' : '' }}>ACTIF</option>
                    <option value="-1" {{ (app.statut != 1) ? 'selected' : '' }}>INACTIF</option>
                </select>
            </div>
        </div>
    </div>
</form>