<!DOCTYPE html>

<html lang="fr">

	<head>

		{% block head %}

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="icon" href="{{ URL_PREFIX }}/img/logo-ca.png">
			<title>MY DIGITAL - SERVICE MULTICANAL</title>

			<!-- Global stylesheets -->
			<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
			<link href="{{ URL_PREFIX }}/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
			<link href="{{ URL_PREFIX }}/assets/css/default/bootstrap.css" rel="stylesheet" type="text/css">
			<link href="{{ URL_PREFIX }}/assets/css/default/core.css" rel="stylesheet" type="text/css">
			<link href="{{ URL_PREFIX }}/assets/css/default/components.css" rel="stylesheet" type="text/css">
			<link href="{{ URL_PREFIX }}/assets/css/colors.css" rel="stylesheet" type="text/css">
			<link href="{{ URL_PREFIX }}/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
			<!-- /global stylesheets -->

			<!-- Core JS files -->
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/core/default/libraries/jquery.min.js"></script>
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/core/default/libraries/bootstrap.min.js"></script>
			<!-- /core JS files -->

			<!-- Theme JS files -->
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/core/default/app.js"></script>
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/loaders/pace.min.js"></script>
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/loaders/blockui.min.js"></script>
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/loadingoverlay/loadingoverlay.min.js"></script>
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/loadingoverlay/loadingoverlay.min.js"></script>
			<script src="{{ URL_PREFIX }}/assets/js/plugins/ui/fab.min.js"></script>
			<!-- /theme JS files -->

			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/notifications/pnotify.min.js"></script>
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/notifications/sweet_alert.min.js"></script>
			<script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/forms/selects/select2.min.js"></script>

			<style>
				input, textarea, .sp-replacer.sp-light, button.multiselect, .select2-selection{
					border: 1px solid #306BA2 !important;
				}
				textarea{
					resize: none;
				}
				.select2{
					margin-bottom: 5px;
				}
				.select2-results__option.select2-results__option--highlighted, .select2-results__option:hover{
					background-color: #d4d3d3;
				}
				.easy-autocomplete{
					width: 100% !important;
				}
				.select-xs, input.input-xs, .multiselect.btn-xs{
					height: 30px !important;
				}
				.form-control-feedback.input-xs{
					padding: 0;
					line-height: 30px;
				}
				.input-group-before.input-xs, .input-group-addon.input-xs{
					height: 0;
				}
			</style>

			<style>
				.btn-save {
					color: #fff;
					background: #306BA2;
					text-shadow: none;
					transition: background-position .1s linear;
					background-image: linear-gradient(to bottom, #328ec7,#306BA2);
				}
				.btn-save:hover {
					color: #fff;
					background: #306BA2;
					text-shadow: none;
					transition: background-position .1s linear;
					background-image: linear-gradient(to bottom, #328ec7,#306BA2);

					box-shadow:0px 0px 10px #4183C4;
					-webkit-animation-name: clignote;
					-webkit-animation-duration: 1s;
					-webkit-animation-iteration-count:infinite;
				}
				.btn-save:focus {
					color: #fff;
				}
				@-webkit-keyframes clignote {
					30%{box-shadow:0px 0px 15px #306BA2;}
					60%{box-shadow:0px 0px 0px #306BA2;}
					80%{box-shadow:0px 0px 15px #306BA2;}
				}

				.btn-save-all {
					color: #fff;
					background: #0fa23d;
					text-shadow: none;
					transition: background-position .1s linear;
					background-image: linear-gradient(to bottom, #6cc767,#0fa23d);
				}
				.btn-save-all:hover {
					color: #fff;
					background: #0fa23d;
					text-shadow: none;
					transition: background-position .1s linear;
					background-image: linear-gradient(to bottom, #6cc767,#0fa23d);

					box-shadow:0px 0px 10px #0fa23d;
					-webkit-animation-name: clignote-all;
					-webkit-animation-duration: 1s;
					-webkit-animation-iteration-count:infinite;
				}
				.btn-save-all:focus {
					color: #fff;
				}
				@-webkit-keyframes clignote-all {
					30%{box-shadow:0px 0px 15px #6cc767;}
					60%{box-shadow:0px 0px 0px #6cc767;}
					80%{box-shadow:0px 0px 15px #6cc767;}
				}

				.btn-delete {
					color: #fff;
					background: #C62828;
					text-shadow: none;
					transition: background-position .1s linear;
					background-image: linear-gradient(to bottom, #F44336,#C62828);
				}
				.btn-delete:hover {
					color: #fff;
					background: #C62828;
					text-shadow: none;
					transition: background-position .1s linear;
					background-image: linear-gradient(to bottom, #F44336,#C62828);

					box-shadow:0px 0px 10px #F44336;
					-webkit-animation-name: clignote-red;
					-webkit-animation-duration: 1s;
					-webkit-animation-iteration-count:infinite;
				}
				.btn-delete:focus {
					color: #fff;
				}
				@-webkit-keyframes clignote-red {
					30%{box-shadow:0px 0px 15px #C62828;}
					60%{box-shadow:0px 0px 0px #C62828;}
					80%{box-shadow:0px 0px 15px #C62828;}
				}
			</style>

			<style>
				.float-right{
					float:right;
				}
				.cursor-pointer{
					cursor: pointer;
				}
			</style>

			<style>

				.panel-scroll {
					overflow-y: auto;
					min-height:120px;
					padding-right: 6px;
					overflow-x: hidden ;
				}
				::-webkit-scrollbar-track {
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
					background-color: #F5F5F5;
					border-radius: 10px;
				}
				::-webkit-scrollbar {
					width: 6px;
					height: 8px;
					background-color: #F5F5F5;
				}
				::-webkit-scrollbar-thumb {
					border-radius: 10px;
					background-color: darkblue;
				}

			</style>

			<style>
				.bg-blue-ca{
					background-color: #007d8f;
					border-color: #007d8f;
				}
				.text-white{
					color: white;
				}
				.btn-close {
					color: #C62828;
					float: right;
					font-size: 22px;
					cursor:pointer;
				}
				.btn-close:hover {
					color: #F44336;
				}
			</style>

        {% endblock head %}

	</head>

	<body>

	    {% block navbar %}
			<!-- Main navbar -->
			{%  include 'navbar.twig' %}
			<!-- /main navbar -->
        {% endblock navbar %}

		<!-- Page content -->
		<div class="page-container">
			{% block content %}
			{% endblock content %}
		</div>
		<!-- /page content -->

		<script>
			function showNotify(text, state){
				var stack_custom_top = {"dir1": "down", "dir2": "right", "push": "top", "spacing1": 1};
				var opts = {
					text: text,
					width: "100%",
					cornerclass: "no-border-radius",
					addclass: "stack-custom-top bg-" + state,
					stack: stack_custom_top
				};
				new PNotify(opts);
			}
		</script>

		{% block footer %}

			<!-- Footer -->
			<div class="navbar navbar-default navbar-fixed-bottom footer" style="Z-INDEX: 1029;">
				<ul class="nav navbar-nav visible-xs-block">
					<li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
				</ul>
				<div class="navbar-collapse collapse" id="footer">
					<div class="navbar-text">
						&copy; 2021 MY DIGITAL - SERVICE MULTICANAL - CA CORSE
					</div>
				</div>
			</div>
			<!-- /footer -->

        {% endblock footer %}

	</body>

</html>