{% extends 'masterpage.twig' %}

{% block head %}

	{{ parent() }}

	<style>
		.page-container {
			display: contents !important;
		}
		.h-100 {
			height: 100%!important;
		}
		.container {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
		@media (min-width: 576px){
			.container {
				max-width: 540px;
			}
		}
		@media (min-width: 768px){
			.container {
				max-width: 720px;
			}
		}
		@media (min-width: 992px){
			.container {
				max-width: 960px;
			}
		}
		@media (min-width: 1200px){
			.container {
				max-width: 1140px;
			}
		}
		.d-flex {
			display: -ms-flexbox!important;
			display: flex!important;
		}
		.justify-content-center {
			-ms-flex-pack: center!important;
			justify-content: center!important;
		}
	</style>

	<style>
		body, html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: rgb(230,230,230) !important;
		}
		.user_card {
			height: max-content;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: rgba(0,151,135,0.6);
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: rgb(230,230,230);
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
			background: white;
		}
		.form_container {
			/*margin-top: 110px;*/
		}
		.btn-form {
			width: 100%;
			background: rgba(0,125,143,1) !important;
			color: white !important;
		}
		.btn-form:focus {
			box-shadow: none !important;
			outline: 0 !important;
		}
		.input:focus {
			box-shadow: none !important;
			outline: 0 !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background: rgba(0,125,143,1) !important;
		}
		.user_card .links a{
			color: white;
		}
	</style>
    
{% endblock head %}

{% block navbar %}{% endblock navbar %}

{% block content %}

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
		    <div class="user_card">
    			<div class="d-flex justify-content-center">
	    			<div class="brand_logo_container">
		    			<img src="{{ URL_PREFIX }}/img/logo.png" class="brand_logo" alt="Logo">
		    		</div>
			    </div>
				<span style="margin-top: 110px; text-align: center;margin-bottom: 10px;">
					<h5>Bonjour <b>{{ user.prenom }}&nbsp;{{ user.nom }}</b>,</h5>
				</span>
			    <div class="d-flex justify-content-center form_container">
					<form action="#" id="form-forgot_password" method="post" enctype="multipart/form-data" style="width: 80%;">
                		<div class="form-group has-feedback has-feedback-left">
						    <input type="password" name="mdp" class="form-control" value="" placeholder="Nouveau mot de passe">
                            <div class="form-control-feedback">
								<i class="fa fa-key"></i>
							</div>
				        </div>
                   		<div class="form-group has-feedback has-feedback-left">
    				        <input type="password" name="mdp_confirm" class="form-control" value="" placeholder="Confirmer le nouveau mot de passe">
                    	    <div class="form-control-feedback">
								<i class="fa fa-key"></i>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-3 mb-20 login_container">
							<button id="btn-submit" type="button" name="button" class="btn btn-form">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
    
		$(function() {

			$("#btn-submit").on('click', function(){

				$.LoadingOverlay("show");
				var mdp = $("#form-forgot_password [name='mdp']").val();
				var mdp_confirm = $("#form-forgot_password [name='mdp_confirm']").val();
				if(mdp === "" || mdp_confirm === ""){
					showNotify("Tous les champs sont requis", "danger");
					$.LoadingOverlay("hide");
				}else if(mdp !== mdp_confirm){
					showNotify("Les mots de passe ne correspondent pas", "danger");
					$.LoadingOverlay("hide");
				}else{

					var formData = new FormData($("#form-forgot_password")[0]);
					$.ajax({
						url:'api/login/mdp_reset/{{ user.guid }}',
						type:'POST',
						processData: false,
						contentType: false,
						data: formData,
						success: function(json){
							json = JSON.parse(json);
							if(json.result === true){
								document.location.href = 'index.php';
							}
							$.LoadingOverlay("hide");
						},
						error: function(jqXHR, textStatus, errorThrown){
							console.log(jqXHR['responseText']);
							$.LoadingOverlay("hide");
						}
					})

				}

            });

		})
        
	</script>

{% endblock content %}