<style>
    .logo-navbar img{
        width: auto;
        height: 40px;
        margin-top: -10px;
    }
    .logo-navbar-text{
        float: left;
        font-size: 28px;
        font-weight: bold;
        margin-top: 3px;
    }
</style>

<!-- Main navbar -->
<div id="navbar" class="navbar navbar-default">

    <div class="navbar-header">

        <a class="navbar-brand logo-navbar" href="{{ (user_logged.current_module == 'apps') ? URL_PREFIX : URL_PREFIX ~ '/modules/' ~ user_logged.current_module }}"><img src="{{ (user_logged.current_module == 'apps') ? URL_PREFIX ~ '/img/logo_navbar.png' : URL_PREFIX ~ '/modules/' ~ user_logged.current_module ~ '/img/logo_navbar.png' }}" alt=""></a>
        <!--<span class="logo-navbar-text">{{ user_logged.current_module }}</span>-->

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

    </div>

    <ul class="nav navbar-nav">
        <li>
            <a href="{{ URL_PREFIX }}">
                <i class="icon-home2"></i>
            </a>
        </li>
        {% if user_logged.navbar_apps|length > 0 %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="icon-menu7 position-left"></i>
                Applications
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                {% for app in user_logged.navbar_apps %}
                    <li><a href="{{ URL_PREFIX }}/modules/{{ app.nom_dossier }}">{{app.nom}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if user_logged.user.hasRole('APPS_VIEW', 'apps') or user_logged.user.hasRole('USERS_VIEW', 'apps') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="icon-cogs position-left"></i>
                Configuration
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                {% if user_logged.user.hasRole('APPS_VIEW', 'apps') %}
                <li><a href="{{ URL_PREFIX }}/applications.php">APPLICATIONS</a></li>
                {% endif %}
                {% if user_logged.user.hasRole('USERS_VIEW', 'apps') %}
                <li><a href="{{ URL_PREFIX }}/utilisateurs.php">UTILISATEURS</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <div class="btn-group navbar-btn">
            <button type="button" class="btn bg-blue-ca text-white btn-labeled">
                <b><i class="icon-users2"></i></b>
                {{ user_logged.user.prenom }}&nbsp;{{ user_logged.user.nom }}
            </button>
            <!--<button type="button" class="btn bg-indigo-300 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="logout.php"><i class="icon-switch2"></i> Déconnexion</a></li>
            </ul>-->
        </div>
        <a href="{{ URL_PREFIX }}/logout.php"><img src="{{ URL_PREFIX }}/img/log-out.png" width="30" height="30" style="margin: 8px;"></a>
    </ul>

</div>
<!-- /main navbar -->