{% extends 'masterpage.twig' %}

{% block head %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.common.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.bootstrap.mobile.min.css" />

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/kendo.all.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/prettify.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/jszip.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/pako_deflate.min.js"></script> <!-- Load Pako ZLIB library to enable PDF compression -->
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/kendo.web.plugins.extgrid.js"></script> <!-- External Columns filter -->

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/messages/kendo.messages.fr-FR.min.js"></script>

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/core/default/libraries/jquery_ui/core.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/core/default/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/trees/fancytree_all.min.js"></script>

    <style>
        .toolbar {
            padding-top: 5px;
            padding-bottom: 4em;
        }
        .fc-toolbar-left {
            padding-top: 0.3px;
            float: left;
        }
        .fc-toolbar-right {
            float: right;
        }
        .toolbar .fc-toolbar-left .btn.btn-default{
            padding: 3px 10px;
        }
        #grid{
            margin-top: -5px;
        }
        .k-grid-header tr th{
            text-align: center !important;
        }
        .k-alt, .k-pivot-layout>tbody>tr:first-child>td:first-child, .k-resource.k-alt, .k-separator {
            background-color: rgba(48, 107, 162, 0.12);
        }
    </style>

    <style>
        .fancytree-icon{
            display: none;
        }
    </style>

{% endblock head %}

{% block content %}

    <div class="row">
        <div id="panel-content" class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="toolbar">
                        <div class="fc-toolbar-left">
                            <button id="btn-add-user" class="btn btn-default" data-toggle="modal" data-target="#modal_add-user"><i class="k-icon k-i-plus"></i> Ajouter un utilisateur</button>
                        </div>
                        <div class="fc-toolbar-right">
                        </div>
                    </div>
                    <div id="grid" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_add-user" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="fa fa-user-plus" style="font-size: 17px"></span>&nbsp;&nbsp;<b><u>Ajout d'un utilisateur</u></b></h5>
                    <button type="button" class="close" data-dismiss="modal"><span class="btn-close fa fa-times-circle"></span></button>
                </div>
                <div class="modal-body">
                    <form action="#" id="form_add-user" method="post" enctype="multipart/form-data">
                        <div class="form-group" style="margin-bottom: 10px">
                            <label class="control-label">Nom</label>
                            <input type="text" class="form-control" placeholder="" name="nom" tabindex="1">
                        </div>
                        <div class="form-group" style="margin-bottom: 10px">
                            <label class="control-label">Prénom</label>
                            <input type="text" class="form-control" placeholder="" name="prenom" tabindex="1">
                        </div>
                        <div class="form-group" style="margin-bottom: 0">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control" placeholder="" name="email" tabindex="1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-save btn-labeled btn-labeled-right" onclick='addUser();'>
                        <b><i class="fa fa-plus-circle"></i></b>
                        Créer
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_user" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="fa fa-user" style="font-size: 17px"></span>&nbsp;&nbsp;<b><u>Modification d'un utilisateur</u></b></h5>
                    <button type="button" class="close" data-dismiss="modal"><span class="btn-close fa fa-times-circle"></span></button>
                </div>
                <div class="modal-body">
                    <span id="form_user-container"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-save btn-labeled btn-labeled-right" onclick='saveUser();'>
                        <b><i class="fa fa-plus-circle"></i></b>
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>

        var keys = [];

        function addUser(){
            $.LoadingOverlay("show");
            var nom_user = $("#modal_add-user [name='nom']").val();
            var prenom_user = $("#modal_add-user [name='prenom']").val();
            var email_user = $("#modal_add-user [name='email']").val();
            if(nom_user === "" || prenom_user === "" || email_user === ""){
                showNotify("Tous les champs sont requis", "danger");
                $.LoadingOverlay("hide");
            }else{
                var formData = new FormData($("#form_add-user")[0]);
                setTimeout(function (){
                    $.ajax({
                        url:'api/admin/users/add',
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            $("#modal_add-user").modal('hide');
                            $.LoadingOverlay("hide");
                            showNotify("Utilisateur ajouté avec succès", "success");
                            $("#grid").data("kendoGrid").dataSource.read();
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            }
        }
        function loadUser(uid){
            $.LoadingOverlay("show");
            $.ajax({
                url:'api/admin/users/' + uid,
                type:'GET',
                async:false,
                success: function(json){
                    json = JSON.parse(json);
                    if(json.result === true){
                        $("#form_user-container").empty().html(json.html);
                        var elems = document.querySelectorAll('.switchery');
                        for (var i = 0; i < elems.length; i++) {
                            var switchery = new Switchery(elems[i]);
                        }
                        $("#form_user-container .select2").select2({
                            minimumResultsForSearch: Infinity
                        });
                        $("#tree_profils").fancytree({
                            checkbox: true,
                            //checkbox: !(uid === '{{ user_logged.user.guid }}'),
                            selectMode: 3,
                            select: function(event, data) {

                                var result = false;
                                keys = json.roles_apps_id;
                                var treeRoles = $("#tree_roles").fancytree("getTree");
                                var key = data.node.key;

                                var profilFindPos = key.indexOf('profil-');
                                var roleFindPos = key.indexOf('role-');

                                if(profilFindPos !== -1 && roleFindPos !== -1){
                                    key = key.substr(roleFindPos);
                                    result = keys.filter(str => str.indexOf(key) !== -1);
                                    result.forEach(function(elem){
                                        var keyElem = elem.substr(elem.indexOf('role-'));
                                        if(key === keyElem) {
                                            var node = data.tree.getNodeByKey(elem);
                                            if (!node)
                                                node = treeRoles.getNodeByKey(elem);
                                            node.setSelected(data.node.isSelected());
                                        }
                                    })
                                }/*else if(profilFindPos !== -1 && roleFindPos === -1){
                                    key = key.substr(profilFindPos);
                                    result = keys.filter(str => str.indexOf(key) !== -1);
                                    result.forEach(function (key){
                                        roleFindPos = key.indexOf('role-');
                                        if(roleFindPos !== -1){
                                            key = key.substr(roleFindPos);
                                            result = keys.filter(str => str.indexOf(key) !== -1);
                                            result.forEach(function(elem){
                                                var node = data.tree.getNodeByKey(elem);
                                                if(!node)
                                                    node = treeRoles.getNodeByKey(elem);
                                                node.setSelected(data.node.isSelected());
                                            })
                                        }
                                    });
                                }*/

                            }
                        });
                        $("#tree_roles").fancytree({
                            checkbox: true,
                            //checkbox: !(uid === '{{ user_logged.user.guid }}'),
                            selectMode: 3,
                            init: function(event, data){
                                var userRoles = json.user_roles;
                                console.log(userRoles);
                                for (var app in userRoles) {
                                    var roles = userRoles[app];
                                    roles.forEach(function (role){
                                        var node = data.tree.getNodeByKey("app-"+role.id_APPLICATIONS+"-role-"+role.id);
                                        node.setSelected(true);
                                    })
                                }
                            },
                            select: function(event, data) {

                                var result = false;
                                keys = json.roles_apps_id;
                                var treeProfils = $("#tree_profils").fancytree("getTree");
                                var key = data.node.key;

                                var roleFindPos = key.indexOf('role-');

                                if (roleFindPos !== -1){
                                    key = key.substr(roleFindPos);
                                    result = keys.filter(str => str.indexOf(key) !== -1);
                                    result.forEach(function (elem) {
                                        var keyElem = elem.substr(elem.indexOf('role-'));
                                        if(key === keyElem){
                                            var node = data.tree.getNodeByKey(elem);
                                            if (!node)
                                                node = treeProfils.getNodeByKey(elem);
                                            node.setSelected(data.node.isSelected());
                                        }
                                    })
                                }

                            }
                        });
                        $("#modal_user").modal('show');
                    }
                    $.LoadingOverlay("hide");
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }
        function saveUser(){
            var rolesSelected = $('#tree_roles').fancytree('getTree').getSelectedNodes();
            var rolesSelectedData = $.map(rolesSelected, function(node){
                return ((node.key).includes('role-') && !(node.key).includes('profil-')) ? parseInt(((node.key).substr((node.key).indexOf('role-'))).replace('role-','')) : null;
            });
            console.log(rolesSelectedData);
            var uid = $("#form-user_info [name='guid']").val();
            var statut = $("#form-user_info [name='statut']").val();
            $.LoadingOverlay("show");
            $.ajax({
                url:'api/admin/users/' + uid,
                data:'statut='+statut+'&roles='+rolesSelectedData,
                type:'POST',
                async:false,
                success: function(json){
                    json = JSON.parse(json);
                    if(json.result === true){
                        $("#modal_user").modal('hide');
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    $.LoadingOverlay("hide");
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }

        $(function() {

            var grid = $("#grid").kendoGrid({
                "toolbarColumnMenu": false,
                "columns":[
                    {
                        "field":"",
                        "title":"",
                        "width":40,
                        "attributes": { "style": "text-align: center;" },
                        "template": "<a onclick='loadUser(\"#: guid #\")'><i class='icon-info22'></i></a>"
                    },
                    {
                        "field":"nom",
                        "title":"Nom",
                        "attributes": { "style": "text-align: center;" }
                    },
                    {
                        "field":"prenom",
                        "title":"Prénom",
                        "attributes": { "style": "text-align: center;" }
                    },
                    {
                        "field":"email",
                        "title":"Email",
                        "attributes": { "style": "text-align: center;" }
                    },
                    {
                        "field":"statut",
                        "title":"Statut",
                        "attributes": { "style": "text-align: center;" },
                        "template":
                            "# if (statut === 1) { " +
                            "# <span class='label bg-success'>ACTIF</span> # " +
                            "}else { " +
                            "# <span class='label bg-danger'>INACTIF</span> # " +
                            "} #"

                    }
                ],
                "autoBind": true,
                "dataSource":{
                    "sort":[
                    ],
                    "transport":{
                        "read":{
                            "url":"api/admin/users/read",
                            "contentType":"application\/json",
                            "type":"POST"
                        },
                        "parameterMap":function(data) {
                            return kendo.stringify(data);
                        }
                    },
                    "page": 1,
                    "pageSize":100,
                    "schema":{
                        "data":"data",
                        "model":{
                            "fields":[
                            ]
                        },
                        "errors":"errors",
                        "groups":"groups",
                        "aggregates":"aggregates",
                        "total":"total"
                    },
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    "refresh":true,
                    "buttonCount": 5,
                    "pageSizes":[10,20,30,50,100]
                }
            });

            $(document).on('change', '[name="roles_vue"]', function (){
                if($(this).prop('checked')){
                    $("#tree_profils").hide();
                    $("#tree_roles").show();
                }else{
                    $("#tree_roles").hide();
                    $("#tree_profils").show();
                }
            });

        });

    </script>

{% endblock content %}