{% extends 'masterpage.twig' %}

{% block head %}

	{{ parent() }}
	{{ macro_global.css() }}

{% endblock head %}

{% block content %}

	<div class="container-fluid">

		{{ macro_global.page_header(user_logged, macro_global.breadcrumb(user_logged)) }}
		{% if user_logged.user.hasRole('ACCESS_CONFIG','digiprojects_') %}
		{{ macro_config.modal_config() }}
		{% endif %}


		{{ macro_campagnes_list.content() }}
		{{ macro_campagnes_actions_list.content(services) }}
		{{ macro_campagnes_action_detail.content(services) }}
		{{ macro_campagnes_ref_comm_detail.content(services) }}

	</div>

	{{ macro_global.javascript() }}
	{% if user_logged.user.hasRole('ACCESS_CONFIG','digiprojects_') %}
	{{ macro_config.javascript() }}
	{% endif %}
	{{ macro_campagnes_list.javascript() }}
	{{ macro_campagnes_actions_list.javascript() }}
	{{ macro_campagnes_action_detail.javascript() }}
	{{ macro_campagnes_ref_comm_detail.javascript() }}

{% endblock content %}