{% macro nav_ref() %}

    <div id="nav-ref" class="tabbable" style="display: none">
        <ul class="nav nav-tabs nav-tabs-solid nav-tabs-component">
            <li data-type="infos"><a><span class="icon-info22"></span>&nbsp;Information</a></li>
            <li data-type="comment" data-popup="tooltip" title="Commentaires"><a><span class="icon-comment-discussion"></span>&nbsp;Commentaires</a></li>
            <li style="float: right" data-type="history" data-popup="tooltip" title="Historique"><a><span class="icon-history"></span></a></li>
            <li style="float: right" data-type="attachment" data-popup="tooltip" title="Pièces jointe"><a><span class="icon-attachment"></span></a></li>
        </ul>
    </div>

{% endmacro nav_ref %}

{% macro content(services) %}

    <style>
        #ref-container #list-statuts-action-container legend .select2-container{
            float: right;
            margin-top: -2px;
        }
        #ref-container #form_infos-ref_com-container .select2-search__field{
            width: auto !important;
        }
        #ref-container #form_infos-ref_com-container .select2-selection__choice{
            height: 30px !important;
        }
        #ref-container #form_infos-ref_com-container .select2.select2-container.select2-container--default{
            margin-bottom: 0 !important;
        }
        #ref-container #form_infos-ref_com-container .select2-selection.select2-selection--multiple{
            height: 36px !important;
        }
        #ref-container #form_infos-ref_com-container ul.select2-selection__rendered{
            padding-left: 2px !important;
        }
        .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom{
            z-index: 10000 !important;
        }
    </style>

    <div id="ref-container" style="display:none;">
        {{ _self.nav_ref() }}
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div id="list-statuts-action-container">
                            {{ macro_global.block_statut_form_container() }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form action="#" id="form_infos-ref_com" method="post" enctype="multipart/form-data" style="display: none">
                    <div class="col-md-12 panel-scroll" style="height: auto" id="form_infos-ref_com-container"></div>
                    <div class="col-md-12">
                        <button id="btn-save-ref_comm" type="button" class="btn btn-save btn-labeled btn-labeled-right" style="float: right"><b><i class="icon-floppy-disk"></i></b> Enregistrer</button>
                    </div>
                </form>
                <form id="list-commentaires-campagne-container" style="display: none">
                </form>
                <div id="list-commentaires-campagne-container" class="panel-scroll" style="display: none">
                    {{ macro_global.block_commentaire_form(services, 'form_add-comment-ref_comm') }}
                </div>
                <div id="grid-attachements-container" style="display:none;">
                    <div id="grid-attachements"></div>
                </div>
                <div id="list-historiques-campagne-container" style="display:none;">
                    <div class="timeline timeline-center">
                        <div class="timeline-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro content %}

{% macro javascript() %}

    <script>

        function loadServicesRefComm(){
            var selectSelector = $('#ref-container #list-statuts-action-container select[name="services_action"]');
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/services/' + id_CAMPAGNES_SELECTED + '/' + id_ACTIONS_SELECTED,
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        var services = json.services;
                        var user_service = json.user_service
                        selectSelector.empty();
                        services.forEach(function(elem){
                            var checked = (parseInt(user_service.id_SERVICES) === parseInt(elem.id_SERVICES)) ? ' selected="selected"' : '';
                            selectSelector.append('<option value="' + elem.id_SERVICES + '"'+ checked +'>' + elem.libelle + '</option>')
                        })
                        selectSelector.trigger('change');
                        $('#nav-ref li[data-type="infos"]').addClass('active');
                        loadScreenActiveRefComm();
                        $("#ref-container #form_edit-statut").show();
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function loadListStatutsRefComm(id_SERVICES){
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/statuts/' + id_CAMPAGNES_SELECTED + '/' + id_SERVICES + '/' + id_ACTIONS_SELECTED + '/' + id_CIBLES_SELECTED,
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        $("#ref-container #list-statuts-campagne-service-action-container").empty().html(json.html);
                        $('#ref-container select[name="statut_service_action"]').empty().html(json.html_select_statut).trigger('change');
                        scrollStatut("#ref-container");
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function loadScreenActiveRefComm(){
            $("#ref-container #form_infos-ref_com").hide();
            $("#ref-container #grid-attachements-container").hide();
            $("#ref-container #list-historiques-campagne-container .timeline-container").empty().parent().parent().hide();
            $("#ref-container #list-commentaires-campagne-container .chat-list").empty().parent().hide();
            switch ($("#nav-ref .nav-tabs li.active").attr('data-type')){
                case 'infos':
                    loadFormRefComm();
                    break;
                case 'history':
                    loadHistoriques($("#ref-container"));
                    break;
                case 'comment':
                    loadCommentaires($("#ref-container"));
                    break;
                case 'attachment':
                    loadAttachements($("#ref-container"));
                    break;
                default:
                    break;
            }
        }

        function loadFormRefComm(){
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/reference/' + id_ACTIONS_SELECTED + '/' + id_CIBLES_SELECTED + '/form',
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        $("#ref-container #form_infos-ref_com-container")
                            .empty()
                            .html(json.html)
                            .parent()
                            .show();
                        $("#ref-container #form_infos-ref_com-container .select2").select2({
                            minimumResultsForSearch: Infinity
                        });
                        $("#ref-container #form_infos-ref_com-container .select2-tag").select2({
                            tags: true,
                            maximumSelectionLength: 1
                        });
                        $("#ref-container #form_infos-ref_com-container").find('[name="date_envoi"],[name="date_fin"]').datepicker(optionDatePicker);
                        if(json.ref.date_envoi !== null)
                            $("#ref-container #form_infos-ref_com-container").find('[name="date_envoi"]').datepicker('setDate', new Date(json.ref.date_envoi));
                        if(json.ref_detail.date_fin !== null)
                            $("#ref-container #form_infos-ref_com-container").find('[name="date_fin"]').datepicker('setDate', new Date(json.ref_detail.date_fin));
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }

        $(function (){

            loadGridAttachements($('#ref-container'));

            $(document).on('click', '.btn-load-ref_comm', function (){
                id_CIBLES_SELECTED = $(this).attr('data-ref-id');
                $("#nav-action").hide();
                $("#action-container").hide();
                $("#nav-ref").show();
                $("#ref-container").show();
                $("#breadcrumb-current-ref").remove();
                $("#breadcrumb-current-action").removeClass('active').after('<li id="breadcrumb-current-ref" class="active">'+ $(this).attr('data-ref-num') +'</li>');
                loadServicesRefComm();
            })

            $(document).on('click', '#breadcrumb-current-action:not(.active)', function (){
                id_CIBLES_SELECTED = 0;
                loadAction(id_ACTIONS_SELECTED);
            })

            $(document).on('click', '#nav-ref .nav-tabs li:not(.active)', function (){
                $('#nav-ref .nav-tabs li').removeClass('active');
                $(this).addClass('active');
                loadScreenActiveRefComm();
            })

            $(document).on('change', '#ref-container #list-statuts-action-container select[name="services_action"]', function (){
                var id_SERVICES = $(this).val();
                loadListStatutsRefComm(id_SERVICES);
            })

            $(document).on('click', '#ref-container #btn-change-statut', function (){
                var cible = $('#breadcrumb-current-ref').text();
                var action = $('#breadcrumb-current-action').text();
                var statutBefore = $('#ref-container #list-statuts-action-container .label:last').text();
                var statutAfter = $('#ref-container #list-statuts-action-container select[name="statut_service_action"] option:selected').text();
                var service = $('#ref-container #list-statuts-action-container select[name="services_action"] option:selected').text();
                var msg = "Le statut de la cible <b>" + cible + "</b> dans l'action <b>" + action + "</b> va passer de <b>" + statutBefore + "</b> a <b>" + statutAfter + "</b> pour le service <b>" + service + "</b>";
                if(statutAfter === ""){
                    showNotify("Statut requis", 'danger');
                }else{
                    swal({
                        title:"Êtes-vous sûr ?",
                        text:msg,
                        type:"warning",
                        html:true,
                        showCancelButton:true,
                        confirmButtonText:"OUI",
                        confirmButtonColor:"#4caf50",
                        cancelButtonText:"NON",
                        closeOnConfirm:false,
                        closeOnCancel:false,
                    },function(isConfirm){
                        if(isConfirm){
                            $.LoadingOverlay("show");
                            var id_SERVICES = $('#ref-container #list-statuts-action-container select[name="services_action"]').val();
                            var formData = new FormData($("#ref-container #form_edit-statut")[0]);
                            setTimeout(function (){
                                $.ajax({
                                    url: 'api/statuts/' + id_CAMPAGNES_SELECTED + '/' + id_SERVICES + '/' + id_ACTIONS_SELECTED + '/' + id_CIBLES_SELECTED,
                                    type:'POST',
                                    processData: false,
                                    contentType: false,
                                    data: formData,
                                    async:false,
                                    success: function(json){
                                        json = JSON.parse(json);
                                        $.LoadingOverlay("hide");
                                        if(json.result === true){
                                            swal({
                                                title:"Succès",
                                                text:"Le statut a été modifié avec succès",
                                                confirmButtonText:"OK",
                                                confirmButtonColor:"#4caf50",
                                                type:"success"
                                            })
                                            resetForm("#ref-container #form_edit-statut");
                                            loadListStatutsRefComm(id_SERVICES);
                                            loadInfosCampagne();
                                        } else if(json.errors.length > 0)
                                            showNotify(json.errors.join(' | '), 'danger');
                                    },
                                    error: function(jqXHR, textStatus, errorThrown){
                                        console.log(jqXHR['responseText']);
                                        $.LoadingOverlay("hide");
                                    }
                                })
                            },500)
                        }else{
                            swal({
                                title:"Opération annulé",
                                text:"Le statut n'a pas été modifié",
                                confirmButtonText:"OK",
                                confirmButtonColor:"#4caf50",
                                type:"info"
                            })
                        }
                    })
                }

            });

            $("#ref-container #form_infos-ref_com input.select2-search__field").on('fo', function (){
                alert('oid');
            });
            $("#ref-container #form_infos-ref_com .btn-save").on('click', function (){
                $.LoadingOverlay("show");
                var formData = new FormData($("#form_infos-ref_com")[0]);
                setTimeout(function (){
                    $.ajax({
                        url: 'api/reference/save',
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            json = JSON.parse(json);
                            $.LoadingOverlay("hide");
                            if(json.result === true)
                                showNotify('Référence sauvegardée avec succès', 'success');
                            else if(json.errors.length > 0)
                                showNotify(json.errors.join(' | '), 'danger');
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            });

        })

    </script>

{% endmacro javascript %}