{% macro nav_action() %}

    <div id="nav-action" class="tabbable" style="display: none">
        <ul class="nav nav-tabs nav-tabs-solid nav-tabs-component">
            <li data-type="infos" style="display: none"><a><i class="icon-info22"></i>&nbsp;<span></span></a></li>
            <li data-type="comment"><a><span class="icon-comment-discussion"></span>&nbsp;Commentaires</a></li>
            <li style="float: right" data-type="history" data-popup="tooltip" title="Historiques"><a><span class="icon-history"></span></a></li>
            <li style="float: right" data-type="attachment" data-popup="tooltip" title="Pièces jointes"><a><span class="icon-attachment"></span></a></li>
        </ul>
    </div>

{% endmacro nav_action %}

{% macro content(services) %}

    {{ _self.nav_action() }}

    <style>
        #action-container #list-statuts-action-container legend .select2-container{
            float: right;
            margin-top: -2px;
        }
    </style>

    <div id="action-container" style="display:none;">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div id="list-statuts-action-container">
                            {{ macro_global.block_statut_form_container() }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="list-marketing-direct-action-container" style="display:none;">
                    <span class="text-semibold" style="font-size: 16px">Références de communication</span>
                    <div class="alert alert-info alert-styled-left alert-bordered" style="margin-top: 10px;padding: 5px;text-align: center">
                        <span class="text-semibold">INFORMATION !</span> Pour éditer une cible il vous suffit de cliquer sur &laquo;&nbsp;<b>Détail</b>&nbsp;&raquo;.
                    </div>
                    <ul id="list-marketing-direct-refs-container" class="media-list chat-list content-group" style="margin-top: 15px"></ul>
                </div>
                <div id="list-commentaires-campagne-container" class="panel-scroll" style="display: none">
                    {{ macro_global.block_commentaire_form(services, 'form_add-comment-action') }}
                </div>
                <div id="grid-attachements-container" style="display:none;">
                    <div id="grid-attachements"></div>
                </div>
                <div id="list-historiques-campagne-container" style="display:none;">
                    <div class="timeline timeline-center">
                        <div class="timeline-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro content %}

{% macro javascript() %}

    <script>

        function loadAction(idAction, nomAction){
            id_ACTIONS_SELECTED = parseInt(idAction);
            $("#nav-actions").hide();
            $("actions-list").hide();
            $("#list-actions-container").hide();
            $("#nav-ref").hide();
            $("#ref-container").hide();
            $("#breadcrumb-current-ref").remove();
            if(nomAction){
                $("#breadcrumb-current-action").remove();
                $("#breadcrumb-current-campagne").removeClass('active').after('<li id="breadcrumb-current-action" class="active">'+nomAction+'</li>');
            }else{
                $("#breadcrumb-current-action").addClass('active');
            }
            $("#list-statuts-campagne-service-action-container").empty();
            $('#nav-action li[data-type="infos"]').hide();
            $("#action-container #form_edit-statut").hide();
            $("#action-container #alert_maj-statut").hide();
            $("#nav-action").show();
            $("#action-container").show();
            $('#nav-action li').removeClass('active');
            loadServicesAction();
        }

        function loadScreenActiveActionCampagne(){
            $("#action-container #list-marketing-direct-action-container").hide();
            $("#action-container #grid-attachements-container").hide();
            $("#action-container #list-historiques-campagne-container .timeline-container").empty().parent().parent().hide();
            $("#action-container #list-commentaires-campagne-container .chat-list").empty().parent().hide();
            switch ($("#nav-action .nav-tabs li.active").attr('data-type')){
                case 'history':
                    loadHistoriques($("#action-container"));
                    break;
                case 'comment':
                    loadCommentaires($("#action-container"));
                    break;
                case 'attachment':
                    loadAttachements($("#action-container"));
                    break;
                case 'infos' :
                    loadMarketingDirect($("#action-container"));
                    break;
                default:
                    break;
            }
        }

        function loadServicesAction(){
            var selectSelector = $('#action-container #list-statuts-action-container select[name="services_action"]');
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/services/' + id_CAMPAGNES_SELECTED + '/' + id_ACTIONS_SELECTED,
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        var services = json.services;
                        var user_service = json.user_service
                        selectSelector.empty();
                        services.forEach(function(elem){
                            var checked = (parseInt(user_service.id_SERVICES) === parseInt(elem.id_SERVICES)) ? ' selected="selected"' : '';
                            selectSelector.append('<option value="' + elem.id_SERVICES + '"'+ checked +'>' + elem.libelle + '</option>')
                        })
                        selectSelector.trigger('change');
                        if(json.action.id_TYPES_COMMUNICATIONS !== null){
                            switch (parseInt(json.action.id_TYPES_COMMUNICATIONS)){
                                case 5 :
                                    $('#nav-action li[data-type="infos"] span').text('OPC');
                                    break;
                                default :
                                    $('#nav-action li[data-type="infos"] span').text('Marketing direct');
                                    break;
                            }
                            $('#nav-action li[data-type="infos"]').show();
                            $('#nav-action li[data-type="infos"]').addClass('active');
                            $("#action-container #form_edit-statut").hide();
                            $("#action-container #alert_maj-statut").show();
                        }else{
                            $('#nav-action li[data-type="comment"]').addClass('active');
                            $("#action-container #form_edit-statut").show();
                        }
                        loadScreenActiveActionCampagne();
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function loadListStatuts(id_SERVICES){
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/statuts/' + id_CAMPAGNES_SELECTED + '/' + id_SERVICES + '/' + id_ACTIONS_SELECTED,
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        $("#action-container #list-statuts-campagne-service-action-container").empty().html(json.html);
                        $('#action-container select[name="statut_service_action"]').empty().html(json.html_select_statut).trigger('change');
                        scrollStatut("#action-container");
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }

        function loadMarketingDirect(selector){
            $.LoadingOverlay("show");
            var id_SERVICES = $('#action-container #list-statuts-action-container select[name="services_action"]').val();
            setTimeout(function (){
                $.ajax({
                    url: 'api/communications/' + id_CAMPAGNES_SELECTED + '/' + id_ACTIONS_SELECTED + '/' + id_SERVICES,
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        selector.find('#list-marketing-direct-refs-container').empty().html(json.html);
                        selector.find('#list-marketing-direct-action-container').show();
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }

        $(function (){

            loadGridAttachements($('#action-container'));

            $('.select2[name="statut_service_action"]').select2({
                minimumResultsForSearch: Infinity
            });

            $('#modal_add-refs_comm_opc .select2').select2({
                minimumResultsForSearch: Infinity
            });

            $('#modal_add-refs_comm_global .select2').select2({
                minimumResultsForSearch: Infinity
            });

            $('.select2-fixed').select2({
                minimumResultsForSearch: Infinity,
                width: '60%',
                containerCssClass: 'select-xs select-statut'
            });

            $(document).on('click', '#breadcrumb-current-campagne:not(.active)', function (){
                id_ACTIONS_SELECTED = 0;
                id_CIBLES_SELECTED = 0;
                $("#nav-action").hide();
                $("#action-container").hide();
                $("#nav-ref").hide();
                $("#ref-container").hide();
                $("#breadcrumb-current-ref").remove();
                $("#nav-actions").show();
                $("#btn-actions-list").show();
                $("#list-actions-container").show();
                $("#breadcrumb-current-action").remove();
                $("#breadcrumb-current-campagne").addClass('active');
                loadScreenActiveActionsCampagne();
            })

            $(document).on('click', '#nav-action .nav-tabs li:not(.active)', function (){
                $('#nav-action .nav-tabs li').removeClass('active');
                $(this).addClass('active');
                loadScreenActiveActionCampagne();
            })

            $(document).on('change', '#action-container #list-statuts-action-container select[name="services_action"]', function (){
                var id_SERVICES = $(this).val();
                loadListStatuts(id_SERVICES);
                if($("#nav-action li[data-type='infos']").is(':visible'))
                    loadMarketingDirect($("#action-container"));
            })

            $(document).on('click', '#action-container #btn-change-statut', function (){
                var action = $('#breadcrumb-current-action').text();
                var statutBefore = $('#action-container #list-statuts-action-container .label:last').text();
                var statutAfter = $('#action-container #list-statuts-action-container select[name="statut_service_action"] option:selected').text();
                var service = $('#ref-container #list-statuts-action-container select[name="services_action"] option:selected').text();
                var msg = "Le statut de l'action <b>" + action + "</b> va passer de <b>" + statutBefore + "</b> a <b>" + statutAfter + "</b> pour le service <b>" + service + "</b>";
                if(statutAfter === ""){
                    showNotify("Statut requis", 'danger');
                }else{
                    swal({
                        title:"Êtes-vous sûr ?",
                        text:msg,
                        type:"warning",
                        html:true,
                        showCancelButton:true,
                        confirmButtonText:"OUI",
                        confirmButtonColor:"#4caf50",
                        cancelButtonText:"NON",
                        closeOnConfirm:false,
                        closeOnCancel:false,
                    },function(isConfirm){
                        if(isConfirm){
                            $.LoadingOverlay("show");
                            var id_SERVICES = $('#action-container #list-statuts-action-container select[name="services_action"]').val();
                            var formData = new FormData($("#action-container #form_edit-statut")[0]);
                            setTimeout(function (){
                                $.ajax({
                                    url: 'api/statuts/' + id_CAMPAGNES_SELECTED + '/' + id_SERVICES + '/' + id_ACTIONS_SELECTED,
                                    type:'POST',
                                    processData: false,
                                    contentType: false,
                                    data: formData,
                                    async:false,
                                    success: function(json){
                                        json = JSON.parse(json);
                                        $.LoadingOverlay("hide");
                                        if(json.result === true){
                                            swal({
                                                title:"Succès",
                                                text:"Le statut a été modifié avec succès",
                                                confirmButtonText:"OK",
                                                confirmButtonColor:"#4caf50",
                                                type:"success"
                                            })
                                            resetForm("#action-container #form_edit-statut");
                                            loadListStatuts(id_SERVICES);
                                            loadInfosCampagne();
                                        } else if(json.errors.length > 0)
                                            showNotify(json.errors.join(' | '), 'danger');
                                    },
                                    error: function(jqXHR, textStatus, errorThrown){
                                        console.log(jqXHR['responseText']);
                                        $.LoadingOverlay("hide");
                                    }
                                })
                            },500)
                        }else{
                            swal({
                                title:"Opération annulé",
                                text:"Le statut n'a pas été modifié",
                                confirmButtonText:"OK",
                                confirmButtonColor:"#4caf50",
                                type:"info"
                            })
                        }
                    })
                }
            });

        })

    </script>

{% endmacro javascript %}