{% macro nav_actions() %}
    <div id="nav-actions" class="tabbable" style="display: none">
        <ul class="nav nav-tabs nav-tabs-solid nav-tabs-component"></ul>
    </div>
{% endmacro nav_actions %}

{% macro float_btn() %}
    <ul id="btn-actions-list" class="fab-menu fab-menu-fixed fab-menu-bottom-right" style="display: none" data-popup="tooltip" title="Editer la campagne" data-placement="left">
        <li>
            <a class="fab-menu-btn btn bg-teal-400 btn-float btn-rounded btn-icon">
                <i class="fab-icon-open icon-pencil6"></i>
                <i class="fab-icon-close icon-cross2"></i>
            </a>
        </li>
    </ul>
{% endmacro float_btn %}

{% macro content(services) %}

    {{ _self.nav_actions() }}

    <div id="list-actions-container" style="display:none;">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-flat">
                    <div class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="grid-actions-container" style="display:none;"></div>
                <div id="grid-actions-service-container" style="display:none;">
                    <div id="grid-actions-service"></div>
                </div>
                <div id="grid-cibles-container" style="display:none;">
                    <div style="height: 45px;">
                        <div class="text-semibold" style="font-size: 16px;height: 36px;line-height: 36px;">Cibles</div>
                        <div style="position: absolute;top: 0;right: 10px;">
                            <button type="button" class="btn btn-save btn-labeled btn-labeled-left"><b><i class="icon-plus-circle2"></i></b>Ajouter une cible</button>
                        </div>
                    </div>
                    <div id="grid-cibles"></div>
                </div>
                <div id="list-commentaires-campagne-container" class="panel-scroll" style="display: none">
                    {{ macro_global.block_commentaire_form(services, 'form_add-comment-campagne') }}
                </div>
                <div id="grid-attachements-container" style="display:none;">
                    <div id="grid-attachements"></div>
                </div>
                <div id="list-historiques-campagne-container" style="display:none;">
                    <div class="timeline timeline-center">
                        <div class="timeline-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ macro_global.modal('add', 'cible', 'Ajout d\'une cible',[
        _self.content_modal_cible(1)
    ], true) }}
    {{ macro_global.modal('edit', 'cible', 'Modification d\'une cible',[
        _self.content_modal_cible(1)
    ], true) }}

    {{ macro_global.modal('edit', 'actions_campagne', 'Configuration de la campagne',[
        _self.content_modal_edit_actions_campagne(1)
    ], true) }}

    {{ macro_global.modal('add', 'files_actions', 'Pièces jointes',[
        macro_global.content_modal_add_files(1)
    ], false, false, false, 'modal-md') }}

    {{ _self.float_btn() }}

{% endmacro content %}

{% macro javascript() %}

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/uploaders/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/uploaders/plupload/plupload.queue.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/uploaders/plupload/i18n/fr.js"></script>

    <script>

        function loadActions(idCampagne, nomCampagne){
            id_CAMPAGNES_SELECTED = idCampagne;
            $("#list-campagnes-container").hide();
            $("#btn-campagnes-list").hide();
            $("#search-bar-campagnes").hide();
            loadInfosCampagne();
            $("#list-actions-container").show();
            $("#btn-actions-list").show();
            $("#breadcrumb-current-campagne").text(nomCampagne).show();
            loadServices(loadNavServicesActionsList);
        }
        function loadNavServicesActionsList(services){
            $("#nav-actions .nav-tabs").empty().append(`<li class="active" data-id="0"><a>Vision globale</a></li>`);
            (services).forEach(function (elem){
                $("#nav-actions .nav-tabs").append(`<li class="" data-id="`+ elem.id_SERVICES +`"><a>`+ elem.libelle +`</a></li>`);
            });
            $("#nav-actions .nav-tabs").append(`<li class="" data-type="cibles"><a>Cibles (Marketing direct)</a></li>`);
            $("#nav-actions .nav-tabs").append(`<li style="float: right" data-type="history"><a><span class="icon-history"></span></a></li>`);
            $("#nav-actions .nav-tabs").append(`<li style="float: right" data-type="attachment"><a><span class="icon-attachment"></span></a></li>`);
            $("#nav-actions .nav-tabs").append(`<li style="float: right" data-type="comment"><a><span class="icon-comment-discussion"></span></a></li>`);

            $('#nav-actions .nav-tabs [data-type="history"]').tooltip({
                title: 'Historique',
                trigger: 'hover'
            });
            $('#nav-actions .nav-tabs [data-type="attachment"]').tooltip({
                title: 'Pièces jointes',
                trigger: 'hover'
            });
            $('#nav-actions .nav-tabs [data-type="comment"]').tooltip({
                title: 'Commentaires',
                trigger: 'hover'
            });

            $("#nav-actions").show();
            loadScreenActiveActionsCampagne();
        }
        function loadScreenActiveActionsCampagne(){
            $("#list-actions-container #grid-actions-container").hide();
            $("#list-actions-container #grid-actions-service-container").hide();
            $("#list-actions-container #grid-cibles-container").hide();
            $("#list-actions-container #grid-attachements-container").hide();
            $("#list-actions-container #list-historiques-campagne-container .timeline-container").empty().parent().parent().hide();
            $("#list-actions-container #list-commentaires-campagne-container .chat-list").empty().parent().hide();
            var id_SERVICES = parseInt($("#nav-actions .nav-tabs li.active").attr('data-id'));
            if(isNaN(id_SERVICES)){
                switch ($("#nav-actions .nav-tabs li.active").attr('data-type')){
                    case 'cibles':
                        loadCibles($("#list-actions-container"));
                        break;
                    case 'history':
                        loadHistoriques($("#list-actions-container"));
                        break;
                    case 'comment':
                        loadCommentaires($("#list-actions-container"));
                        break;
                    case 'attachment':
                        loadAttachements($("#list-actions-container"));
                        break;
                    default:
                        break;
                }
            }else if(id_SERVICES === 0){
                $("#list-actions-container #grid-actions").data("kendoGrid").dataSource.read();
                filterActionsList(0);
                $("#list-actions-container #grid-actions-container").show();
            }else{
                $("#list-actions-container #grid-actions-service").data("kendoGrid").dataSource.read();
                filterActionsList(id_SERVICES);
                $("#list-actions-container #grid-actions-service-container").show();
            }
        }
        function loadServices(callback){
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/services/list',
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        callback(json.services);
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }

        function loadGridAction(services){

            $("#list-actions-container #grid-actions").remove();
            $("#list-actions-container #grid-actions-container").append('<div id="grid-actions"></div>');

            var columns = [
                { "field": "action", "title":"ACTION", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadAction(\"#: id_ACTIONS #\",\"#: action #\")'><b> #: action #</b></a>"
                }
            ];

            services.forEach(function(elem){
                columns.push({
                    "field": "statut" + elem.id_SERVICES, "title":elem.libelle, "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "# if (color"+elem.id_SERVICES+") { " +
                        "# <span class='label' style='background-color: #: color"+elem.id_SERVICES+" #'>#: statut"+elem.id_SERVICES+" #</span> # " +
                        "}else if(statut"+elem.id_SERVICES+" != null) { " +
                        "# <span class='label' style='background-color: grey'>#: statut"+elem.id_SERVICES+" #</span> # " +
                        "} #"
                })
            })

            $("#list-actions-container #grid-actions").kendoGrid({
                "columns":columns,
                "autoBind": true,
                "dataSource":{
                    "sort":[],
                    "transport":{
                        "read":{
                            "url":"api/actions_campagne/read",
                            "contentType":"application\/json",
                            "type":"POST"
                        },
                        "parameterMap":function(data) {
                            return kendo.stringify(data);
                        }
                    },
                    "page": 1,
                    "pageSize":100,
                    "schema":{
                        "data":"data",
                        "model":{
                            "id": "",
                            "fields": {
                            }
                        },
                        "errors":"errors",
                        "groups":"groups",
                        "aggregates":"aggregates",
                        "total":"total"
                    },
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "editable": "inline",
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    "refresh":true,
                    "buttonCount": 5,
                    "pageSizes":[10,20,30,50,100]
                }
            });

        }
        function filterActionsList(id_SERVICES){
            var grid = (id_SERVICES === 0) ? $("#list-actions-container #grid-actions").data("kendoGrid") : $("#list-actions-container #grid-actions-service").data("kendoGrid");
            var jsonOptions = grid.getOptions();
            var filters = [];
            filters.push({
                "field": 'id_CAMPAGNES',
                "operator": 'eq',
                "value": id_CAMPAGNES_SELECTED
            });
            if(id_SERVICES > 0){
                filters.push({
                    "field": 'statut',
                    "operator": 'isnotnull'
                });
                filters.push({
                    "field": 'id_SERVICES',
                    "operator": 'eq',
                    "value": id_SERVICES
                });
            }
            jsonOptions.dataSource.filter = {'filters':filters,'logic': "and"};
            jsonOptions.dataSource.page = 1;
            grid.setOptions(jsonOptions);
        }

        function loadInfosCampagne(){
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/campagnes/'+ id_CAMPAGNES_SELECTED +'/infos',
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        $("#list-actions-container .col-md-4 .panel-body").empty().append(json.html);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }

        function loadCibles(selector){
            selector.find("#grid-cibles").data("kendoGrid").dataSource.read();
            filterCiblesList();
            selector.find("#grid-cibles-container").show();
        }
        function loadCiblesPopup(id){

            id = parseInt(id);
            var selector = (id === 0) ? $('#modal_add-cible') : $('#modal_edit-cible');

            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/cibles/'+ id +'/popup',
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        selector.find('form .panel-scroll').empty().append(json.html);
                        selector.find('.switch').bootstrapSwitch();
                        $(selector).modal('show');
                        $.LoadingOverlay("hide");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)

        }
        function loadGridCibles(){

            $("#list-actions-container #grid-cibles").remove();
            $("#list-actions-container #grid-cibles-container").append('<div id="grid-cibles"></div>');

            $.ajax({
                url: 'api/communications/list',
                type:'GET',
                success: function(json){
                    json = JSON.parse(json);
                    var columns = [
                        { "field": "", "title":"", "width": "50px", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                            "template":
                                "<a onclick='loadCiblesPopup(\"#: id_CIBLES #\")'><i class='icon-info22'></i></a>"
                        },
                        { "field": "num", "title":"N°", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                            "template":
                                "<span class=''>CIBLE N°#: num #</span>"
                        },
                        { "field": "detail", "title":"CIBLE", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" } },
                    ];
                    (json.types_communications).forEach(function(elem){
                        columns.push({
                            "field": "type_communication" + elem.id_TYPES_COMMUNICATIONS, "title":elem.libelle, "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                            "template":
                                "# if (type_communication"+elem.id_TYPES_COMMUNICATIONS+" > 0) { " +
                                "# <span class='fa fa-check-circle' style='color: green'></span> # " +
                                "}else{"+
                                "# <span class='fa fa-times-circle' style='color: red'></span> # " +
                                "} #"
                        })
                    });
                    $("#list-actions-container #grid-cibles").kendoGrid({
                        "columns":columns,
                        "autoBind": true,
                        "dataSource":{
                            "sort":[],
                            "transport":{
                                "read":{
                                    "url":"api/cibles/read",
                                    "contentType":"application\/json",
                                    "type":"POST"
                                },
                                "parameterMap":function(data) {
                                    return kendo.stringify(data);
                                }
                            },
                            "page": 1,
                            "pageSize":100,
                            "schema":{
                                "data":"data",
                                "model":{
                                    "id": "",
                                    "fields": {
                                    }
                                },
                                "errors":"errors",
                                "groups":"groups",
                                "aggregates":"aggregates",
                                "total":"total"
                            },
                            "serverFiltering":true,
                            "serverSorting":true,
                            "serverGrouping":true,
                            "serverPaging":true
                        },
                        "allowCopy":true,
                        "scrollable": {
                            "virtual": false
                        },
                        "editable": "inline",
                        "selectable":false,
                        "sortable":false,
                        "columnMenu":false,
                        "groupable":false,
                        "resizable":false,
                        "reorderable":false,
                        "filterable":false,
                        "pageable":{
                            "refresh":true,
                            "buttonCount": 5,
                            "pageSizes":[10,20,30,50,100]
                        }
                    });
                    $.LoadingOverlay("hide");
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            });

        }
        function filterCiblesList(){
            var grid = $("#list-actions-container #grid-cibles").data("kendoGrid");
            var jsonOptions = grid.getOptions();
            var filters = [];
            filters.push({
                "field": 'id_CAMPAGNES',
                "operator": 'eq',
                "value": id_CAMPAGNES_SELECTED
            });
            jsonOptions.dataSource.filter = {'filters':filters,'logic': "and"};
            jsonOptions.dataSource.page = 1;
            grid.setOptions(jsonOptions);
        }

        $(function (){

            loadServices(loadGridAction);

            $("#grid-actions-service").kendoGrid({
                "columns":[
                    { "field": "action", "title":"ACTION", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                        "template":
                            "<a onclick='loadAction(\"#: id_ACTIONS #\",\"#: action #\")'><b> #: action #</b></a>"
                    },
                    { "field": "statut", "title":"STATUT", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                        "template":
                            "# if (statut_color) { " +
                            "# <span class='label' style='background-color: #: statut_color #'>#: statut #</span> # " +
                            "}else { " +
                            "# <span class='label' style='background-color: grey'>#: statut #</span> # " +
                            "} #"
                    }
                ],
                "autoBind": true,
                "dataSource":{
                    "sort":[],
                    "transport":{
                        "read":{
                            "url":"api/actions_service/read",
                            "contentType":"application\/json",
                            "type":"POST"
                        },
                        "parameterMap":function(data) {
                            return kendo.stringify(data);
                        }
                    },
                    "page": 1,
                    "pageSize":100,
                    "schema":{
                        "data":"data",
                        "model":{
                            "id": "",
                            "fields": {
                            }
                        },
                        "errors":"errors",
                        "groups":"groups",
                        "aggregates":"aggregates",
                        "total":"total"
                    },
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "editable": "inline",
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    "refresh":true,
                    "buttonCount": 5,
                    "pageSizes":[10,20,30,50,100]
                }
            });
            loadGridCibles();
            loadGridAttachements($('#list-actions-container'));

            $("#btn-actions-list .btn-float").on('click', function (){
                loadPopupCampagne($("#modal_edit-actions_campagne"));
            });
            $("#modal_edit-actions_campagne .btn-save").on('click', function (){
                $.LoadingOverlay("show");
                var formData = new FormData($("#form_edit-actions_campagne")[0]);
                setTimeout(function (){
                    $.ajax({
                        url: 'api/campagnes/edit',
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            json = JSON.parse(json);
                            $.LoadingOverlay("hide");
                            if(json.result === true){
                                loadInfosCampagne();
                                loadScreenActiveActionsCampagne();
                                $("#form_edit-actions_campagne").closest('.modal').modal('hide');
                            } else if(json.errors.length > 0)
                                showNotify(json.errors.join(' | '), 'danger');
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            });

            $(document).on('click', '#nav-actions .nav-tabs li:not(.active)', function (){
                $('#nav-actions .nav-tabs li').removeClass('active');
                $(this).addClass('active');
                loadScreenActiveActionsCampagne();
            })

            $(document).on('click', '#btn-add-service', function (){
                $('#modal_edit-actions_campagne').modal('hide');
                $('#modal_add-service').modal('show');
            })
            $("#modal_add-service").on('hidden.bs.modal', function (){
                $('#modal_add-service').modal('hide');
                loadPopupCampagne($("#modal_edit-actions_campagne"));
            });

            $('#modal_add-cible .switch').bootstrapSwitch();
            $(document).on('click', '#grid-cibles-container .btn-save', function (){
                loadCiblesPopup(0);
            })

            $(document).on('click', '#modal_add-cible .btn-save, #modal_edit-cible .btn-save', function (){
                var selector = $(this).closest('.modal');
                $.LoadingOverlay("show");
                var formData = new FormData(selector.find('form')[0]);
                setTimeout(function (){
                    $.ajax({
                        url: 'api/cibles/' + id_CAMPAGNES_SELECTED + '/save',
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            json = JSON.parse(json);
                            $.LoadingOverlay("hide");
                            if(json.result === true){
                                $("#grid-cibles").data("kendoGrid").dataSource.read();
                                loadInfosCampagne()
                                selector.modal('hide');
                            } else if(json.errors.length > 0)
                                showNotify(json.errors.join(' | '), 'danger');
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            })

        })

    </script>

{% endmacro javascript %}

{% macro content_modal_cible(id) %}
    <fieldset title="{{ id }}" class="">
        <div class="row panel-scroll"></div>
    </fieldset>
{% endmacro content_modal_cible %}
{% macro content_modal_edit_actions_campagne(id) %}
    <fieldset title="{{ id }}" class="">
        <div class="row panel-scroll">
            <div class="col-md-12">
                <div class="panel-group panel-group-control" id="list-actions-service-container"></div>
            </div>
        </div>
    </fieldset>
{% endmacro content_modal_edit_actions_campagne %}