{% macro modal_config() %}
    {{ _self.css() }}
    {{ macro_global.modal('edit', 'config_module', 'Configuration module',[
    ], false, false, false, 'modal-lg') }}
{% endmacro modal_config %}

{% macro css() %}
    <style>
        #modal_edit-config_module .toolbar {
            padding-top: 5px;
            padding-bottom: 4em;
        }
        #modal_edit-config_module .fc-toolbar-left {
            padding-top: 0.3px;
            float: left;
        }
        #modal_edit-config_module .fc-toolbar-right {
            float: right;
        }
        #modal_edit-config_module .toolbar .fc-toolbar-left .btn.btn-default{
            padding: 3px 10px;
        }
        #modal_edit-config_module .k-grid-header tr th{
            text-align: center !important;
        }
        #modal_edit-config_module .k-alt, #modal_edit-config_module .k-pivot-layout>tbody>tr:first-child>td:first-child, #modal_edit-config_module .k-resource.k-alt, #modal_edit-config_module .k-separator {
            background-color: rgba(48, 107, 162, 0.12);
        }
        [id^=config_input-toolbar-search]{
            height: 28px;
        }
        #modal_edit-config_module .form-control-feedback {
            height: 28px;
            line-height: 28px;
        }
        #config_grid-actions{
            margin-top: -5px;
        }
        .toolbar .k-icon.k-i-plus{
            margin-right: 5px;
            margin-top: -1px;
        }
        .toolbar .fc-toolbar-left button{
            border: 1px solid #306BA2 !important;
        }
    </style>
    <style>
        #modal_edit-config_module .icon-color-clear{
            cursor: pointer;
        }
        #modal_edit-config_module .sp-clear-enabled .sp-clear{
            display: none;
        }
        #modal_edit-config_module .sp-clear-enabled .sp-hue {
            top: 0;
            height: 100%;
        }
        #modal_edit-config_module .sp-replacer.sp-light{
            width: 100%;
            border-radius: 0;
            height: 36px;
        }
        #modal_edit-config_module .sp-preview{
            width: 95%;
            height: 24px;
        }
        #modal_edit-config_module .sp-input{
            height: 26px;
        }
        #modal_edit-config_module .sp-dd {
            margin: 5px 0;
        }
    </style>
{% endmacro css %}

{% macro toolbar(id, titleBtnAdd) %}
    <div class="toolbar">
        <div class="fc-toolbar-left">
            <button id="config_btn-{{ id }}" class="btn btn-default"><i class="k-icon k-i-plus"></i> {{ titleBtnAdd }}</button>
        </div>
        <div class="fc-toolbar-right">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="config_input-toolbar-search-{{ id }}" placeholder="Tapez pour filtrer...">
                <div class="form-control-feedback">
                    <i class="icon-search4 text-size-base"></i>
                </div>
            </div>
        </div>
    </div>
{% endmacro toolbar %}

{% macro block_grid(id, titleBtnAdd, form) %}
    <div class="col-md-12" style="display:none;">
        <div id="config_list-{{ id }}-container" class="row">
            <div class="col-md-6">
                {{ _self.toolbar('add_' ~ id, titleBtnAdd) }}
                <div id="config_grid-{{ id }}-container"></div>
            </div>
            <div class="col-md-6">
                <div class="mb-10">
                    <i class="icon icon-pencil7"></i>
                    <span class="panel-title-text" id="title_config_{{ id }}">Ajout&nbsp;{{ id|trim('s') }}</span>
                </div>
                <form action="#" id="form_config_{{ id }}" method="post" enctype="multipart/form-data">
                    {{ form }}
                </form>
                <div class="mt-10" style="float: right">
                    <button type="submit" name="delete" class="btn btn-delete btn-labeled btn-labeled-left">
                        <b><i class="fa fa-trash-o"></i></b>
                        <span>Supprimer</span>
                    </button>
                    <button type="submit" name="save" class="btn btn-save btn-labeled btn-labeled-right">
                        <b><i class="icon-circle-right2"></i></b>
                        <span id="title-btn_config_{{ id }}">Ajouter</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro block_grid %}

{% macro champs_form_types_communications() %}
    <input type="hidden" name="id_TYPES_COMMUNICATIONS">
    <input type="text" class="form-control" name="libelle" placeholder="Libelle">
{% endmacro champs_form_types_communications %}
{% macro champs_form_actions() %}
    <input type="hidden" name="id_ACTIONS">
    <input type="text" class="form-control" name="libelle" placeholder="Libelle">
    <div class="mt-10">
        <label>Type de communication</label>
        <select name="id_TYPES_COMMUNICATIONS" class="form-control select2" data-placeholder="Type de communication"></select>
    </div>
{% endmacro champs_form_actions %}
{% macro champs_form_services() %}
    <input type="hidden" name="id_SERVICES">
    <input type="text" class="form-control" name="libelle" placeholder="Libelle">
    <div class="mt-10">
        <div id="nav-config_services" class="tabbable">
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-component mb-10">
                <li class="active" data-type="services_actions"><a href="#tab-actions_services" data-toggle="tab">Actions</a></li>
                <li data-type="services_users"><a href="#tab-users_services" data-toggle="tab">Utilisateurs</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-actions_services">
                <select multiple="multiple" class="form-control listbox" name="actions_service[]"></select>
            </div>
            <div class="tab-pane" id="tab-users_services">
                <select multiple="multiple" class="form-control listbox" name="users_service[]"></select>
            </div>
        </div>
    </div>
{% endmacro champs_form_services %}
{% macro champs_form_statuts() %}
    <input type="hidden" name="id_STATUTS">
    <input type="text" class="form-control" name="libelle" placeholder="Nom">
    <div class="mt-10">
        <label>Couleur :</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-shutter"></i></span>
            <input type="text" name="color" class="form-control colorpicker-basic" data-preferred-format="hex" value="">
            <span class="input-group-addon"><i class="icon-color-clear"></i></span>
        </div>
    </div>
    <div class="mt-10">
        <label>Statuts acceptés :</label>
        <select multiple="multiple" class="form-control listbox" name="statuts_chlids[]"></select>
    </div>
{% endmacro champs_form_statuts %}
{% macro champs_form_pma() %}
    <input type="hidden" name="id_PMA">
    <input type="text" class="form-control" name="libelle" placeholder="Libelle">
{% endmacro champs_form_pma %}
{% macro champs_form_poids_opc() %}
    <input type="hidden" name="id_POIDS_OPC">
    <input type="text" class="form-control" name="libelle" placeholder="Libelle">
{% endmacro champs_form_poids_opc %}
{% macro champs_form_sources_ciblages() %}
    <input type="hidden" name="id_SOURCES_CIBLAGES">
    <input type="text" class="form-control" name="libelle" placeholder="Libelle">
{% endmacro champs_form_sources_ciblages %}
{% macro champs_form_univers_besoins() %}
    <input type="hidden" name="id_UNIVERS_BESOINS">
    <input type="text" class="form-control" name="libelle" placeholder="Libelle">
{% endmacro champs_form_univers_besoins %}

{% macro content_modal(id) %}
    <div class="modal-body">
        <fieldset title="{{ id }}" class="">
            <div class="row">
                <div id="nav-config_module" class="tabbable">
                    <ul class="nav nav-tabs nav-tabs-solid nav-tabs-component">
                        <li data-type="types_communications"><a>Types communications</a></li>
                        <li data-type="actions"><a>Actions</a></li>
                        <li data-type="services"><a>Services</a></li>
                        <li data-type="statuts"><a>Statuts</a></li>
                        <li data-type="pma"><a>PMA</a></li>
                        <li data-type="poids_opc"><a>Poids OPC</a></li>
                        <li data-type="sources_ciblages"><a>Sources ciblages</a></li>
                        <li data-type="univers_besoins"><a>Univers de besoins</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin: 0 -20px;">
                {{ _self.block_grid('types_communications', 'Ajouter une ligne', _self.champs_form_types_communications) }}
                {{ _self.block_grid('actions', 'Ajouter une ligne', _self.champs_form_actions) }}
                {{ _self.block_grid('services', 'Ajouter une ligne', _self.champs_form_services) }}
                {{ _self.block_grid('statuts', 'Ajouter une ligne', _self.champs_form_statuts) }}
                {{ _self.block_grid('pma', 'Ajouter une ligne', _self.champs_form_pma) }}
                {{ _self.block_grid('poids_opc', 'Ajouter une ligne', _self.champs_form_poids_opc) }}
                {{ _self.block_grid('sources_ciblages', 'Ajouter une ligne', _self.champs_form_sources_ciblages) }}
                {{ _self.block_grid('univers_besoins', 'Ajouter une ligne', _self.champs_form_univers_besoins) }}
            </div>
        </fieldset>
    </div>
{% endmacro content_modal %}

{% macro javascript() %}

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/pickers/color/spectrum.js"></script>

    <script>

        function disableButtons(selector) {
            var button = $(selector);
            button.prop("disabled", true);
        }
        function enableButtons(selector) {
            var button = $(selector);
            button.prop("disabled", false);
        }

        function loadConfigGrid(selector, columns, url){
            selector.kendoGrid({
                "columns": columns,
                "autoBind": true,
                "dataSource":{
                    "sort":[],
                    "transport":{
                        "read":{
                            "url": url,
                            "contentType":"application\/json",
                            "type":"POST"
                        },
                        "parameterMap":function(data) {
                            return kendo.stringify(data);
                        }
                    },
                    "page": 1,
                    "pageSize":100,
                    "schema":{
                        "data":"data",
                        "model":{
                            "id": "id",
                            "fields": {
                            }
                        },
                        "errors":"errors",
                        "groups":"groups",
                        "aggregates":"aggregates",
                        "total":"total"
                    },
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "editable": "inline",
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    "refresh":true,
                    //"buttonCount": 5,
                    //"pageSizes":[10,20,30,50,100]
                }
            });
        }
        function loadScreenActiveConfig(){
            $("#config_list-types_communications-container").parent().hide();
            $("#config_list-actions-container").parent().hide();
            $("#config_list-services-container").parent().hide();
            $("#config_list-statuts-container").parent().hide();
            $("#config_list-pma-container").parent().hide();
            $("#config_list-poids_opc-container").parent().hide();
            $("#config_list-sources_ciblages-container").parent().hide();
            $("#config_list-univers_besoins-container").parent().hide();
            switch ($("#nav-config_module .nav-tabs li.active").attr('data-type')){
                case 'types_communications':
                    loadConfigTypesCommunications();
                    break;
                case 'actions':
                    loadConfigActions();
                    break;
                case 'services':
                    loadConfigServices();
                    break;
                case 'statuts':
                    loadConfigStatuts();
                    break;
                case 'pma':
                    loadConfigPMAs();
                    break;
                case 'poids_opc':
                    loadConfigPoidsOPC();
                    break;
                case 'sources_ciblages':
                    loadConfigSourcesCiblages();
                    break;
                case 'univers_besoins':
                    loadConfigUniversBesoins();
                    break;
                default:
                    break;
            }
        }
        function saveScreenActiveConfig(){
            switch ($("#nav-config_module .nav-tabs li.active").attr('data-type')){
                case 'types_communications':
                    saveConfigTypeCommunication();
                    break;
                case 'actions':
                    saveConfigAction();
                    break;
                case 'services':
                    saveConfigService();
                    break;
                case 'statuts':
                    saveConfigStatut();
                    break;
                case 'pma':
                    saveConfigPMA();
                    break;
                case 'poids_opc':
                    saveConfigPoidOPC();
                    break;
                case 'sources_ciblages':
                    saveConfigSourceCiblage();
                    break;
                case 'univers_besoins':
                    saveConfigUniverBesoin();
                    break;
                default:
                    break;
            }
        }
        function deleteScreenActiveConfig(){
            switch ($("#nav-config_module .nav-tabs li.active").attr('data-type')){
                case 'types_communications':
                    deleteConfigTypeCommunication();
                    break;
                case 'actions':
                    deleteConfigAction();
                    break;
                case 'services':
                    deleteConfigService();
                    break;
                case 'statuts':
                    deleteConfigStatut();
                    break;
                case 'pma':
                    deleteConfigPMA();
                    break;
                case 'poids_opc':
                    deleteConfigPoidOPC();
                    break;
                case 'sources_ciblages':
                    deleteConfigSourceCiblage();
                    break;
                case 'univers_besoins':
                    deleteConfigUniverBesoin();
                    break;
                default:
                    break;
            }
        }

        function loadConfigTypesCommunications(){
            $("#config_grid-types_communications-container").empty().html('<div id="config_grid-types_communications" style="height: 450px"></div>');
            loadConfigGrid($("#config_grid-types_communications"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigTypeCommunication(\"#: id_TYPES_COMMUNICATIONS #\",\"#: libelle #\")'><b> #: libelle #</b></a>"
                }
            ], "api/config/types_communications/read");
            $("#config_list-types_communications-container").parent().show();
            $("#config_btn-add_types_communications").click();
        }
        function loadConfigTypeCommunication(id_TYPES_COMMUNICATIONS, libelle){
            if(id_TYPES_COMMUNICATIONS === 0){
                $("#title_config_types_communications").text('Ajout type communication');
                $("#title-btn_config_types_communications").text('Ajouter');
                disableButtons("#config_btn-add_types_communications");
                $("#config_list-types_communications-container .btn-delete").hide();
            } else{
                $("#title_config_types_communications").text('Modification type communication');
                $("#title-btn_config_types_communications").text('Enregister');
                enableButtons("#config_btn-add_types_communications");
                $("#config_list-types_communications-container .btn-delete").show();
            }
            $("#form_config_types_communications input[name='id_TYPES_COMMUNICATIONS']").val(id_TYPES_COMMUNICATIONS);
            $("#form_config_types_communications input[name='libelle']").val(libelle);
        }
        function saveConfigTypeCommunication(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_types_communications")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/type_communication',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-types_communications").data("kendoGrid").dataSource.read();
                            showNotify('Type de communication enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigTypeCommunication(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        function loadConfigActions(){
            $("#config_grid-actions-container").empty().html('<div id="config_grid-actions" style="height: 450px"></div>');
            loadConfigGrid($("#config_grid-actions"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigAction(\"#: id_ACTIONS #\",\"#: libelle #\")'><b> #: libelle #</b></a>"
                }
            ], "api/config/actions/read");
            $("#config_list-actions-container").parent().show();
            $("#config_btn-add_actions").click();
        }
        function loadConfigAction(id_ACTIONS, libelle){
            if(id_ACTIONS === 0){
                $("#title_config_actions").text('Ajout action');
                $("#title-btn_config_actions").text('Ajouter');
                disableButtons("#config_btn-add_actions");
                $("#config_list-actions-container .btn-delete").hide();
            } else{
                $("#title_config_actions").text('Modification action');
                $("#title-btn_config_actions").text('Enregister');
                enableButtons("#config_btn-add_actions");
                $("#config_list-actions-container .btn-delete").show();
            }
            $("#form_config_actions input[name='id_ACTIONS']").val(id_ACTIONS);
            $("#form_config_actions input[name='libelle']").val(libelle);
            $.ajax({
                url: 'api/config/action/'+ id_ACTIONS,
                type:'GET',
                success: function(json){
                    json = JSON.parse(json);
                    $("#form_config_actions select[name='id_TYPES_COMMUNICATIONS']").empty().append(json.types_communications).trigger('change');
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }
        function saveConfigAction(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_actions")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/action',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-actions").data("kendoGrid").dataSource.read();
                            showNotify('Service enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigAction(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        function loadConfigServices(){
            $("#config_grid-services-container").empty().html('<div id="config_grid-services" style="max-height: 450px"></div>');
            loadConfigGrid($("#config_grid-services"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigService(\"#: id_SERVICES #\",\"#: libelle #\")'><b> #: libelle #</b></a>"
                }
            ], "api/config/services/read");
            $("#config_list-services-container").parent().show();
            $("#config_btn-add_services").click();
            $('#form_config_services .listbox[name="actions_service[]"]').bootstrapDualListbox({
                moveOnSelect: false,
                infoText: '{0} action(s)',
                infoTextFiltered: '<span class="label label-warning">FILTRE</span> {0} action(s) sur {1}',
                infoTextEmpty: 'Aucune action',
                filterPlaceHolder: 'Filtrer',
                filterTextClear: 'Voir tout'
            });
            $('#form_config_services .listbox[name="users_service[]"]').bootstrapDualListbox({
                moveOnSelect: false,
                infoText: '{0} utilisateur(s)',
                infoTextFiltered: '<span class="label label-warning">FILTRE</span> {0} utilisateur(s) sur {1}',
                infoTextEmpty: 'Aucun utilisateur',
                filterPlaceHolder: 'Filtrer',
                filterTextClear: 'Voir tout'
            });
        }
        function loadConfigService(id_SERVICES, libelle){
            if(id_SERVICES === 0){
                $("#title_config_services").text('Ajout service');
                $("#title-btn_config_services").text('Ajouter');
                disableButtons("#config_btn-add_services");
                $("#config_list-services-container .btn-delete").hide();
            } else{
                $("#title_config_services").text('Modification service');
                $("#title-btn_config_services").text('Enregister');
                enableButtons("#config_btn-add_services");
                $("#config_list-services-container .btn-delete").show();
            }
            $("#nav-config_services li[data-type='services_actions'] a").click();
            $("#form_config_services input[name='id_SERVICES']").val(id_SERVICES);
            $("#form_config_services input[name='libelle']").val(libelle);
            $.ajax({
                url: 'api/config/service/'+ id_SERVICES,
                type:'GET',
                success: function(json){
                    json = JSON.parse(json);
                    $("#form_config_services select[name='actions_service[]']").empty().append(json.actions).trigger('bootstrapDualListbox.refresh');
                    $("#form_config_services select[name='users_service[]']").empty().append(json.users).trigger('bootstrapDualListbox.refresh');
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }
        function saveConfigService(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_services")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/service',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-services").data("kendoGrid").dataSource.read();
                            showNotify('Service enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigService(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        function loadConfigStatuts(){
            $("#config_grid-statuts-container").empty().html('<div id="config_grid-statuts" style="max-height: 450px"></div>');
            loadConfigGrid($("#config_grid-statuts"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigStatut(\"#: id_STATUTS #\",\"#: libelle #\",\"#: color #\")'><b> #: libelle #</b></a>"
                },
                { "field": "color", "title":"Couleur", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<span class='label' style='background-color: #: color #'>&nbsp;</span>"
                }
            ], "api/config/statuts/read");
            $("#config_list-statuts-container").parent().show();
            $("#config_btn-add_statuts").click();
            $('#form_config_statuts .listbox').bootstrapDualListbox({
                moveOnSelect: false,
                infoText: '{0} statut(s)',
                infoTextFiltered: '<span class="label label-warning">FILTRE</span> {0} statut(s) sur {1}',
                infoTextEmpty: 'Aucun statut',
                filterPlaceHolder: 'Filtrer',
                filterTextClear: 'Voir tout'
            });
        }
        function loadConfigStatut(id_STATUTS, libelle, color){
            color = (color === "null") ? null : color;
            if(id_STATUTS === 0){
                $("#title_config_statuts").text('Ajout statut');
                $("#title-btn_config_statuts").text('Ajouter');
                disableButtons("#config_btn-add_statuts");
                $("#config_list-statuts-container .btn-delete").hide();
            } else{
                $("#title_config_statuts").text('Modification statut');
                $("#title-btn_config_statuts").text('Enregister');
                enableButtons("#config_btn-add_statuts");
                $("#config_list-statuts-container .btn-delete").show();
            }
            $("#form_config_statuts input[name='id_STATUTS']").val(id_STATUTS);
            $("#form_config_statuts input[name='libelle']").val(libelle);
            $("#form_config_statuts input[name='color']").spectrum("set", color);
            $.ajax({
                url: 'api/config/statut/'+ id_STATUTS,
                type:'GET',
                success: function(json){
                    json = JSON.parse(json);
                    console.log(json.html);
                    $("#form_config_statuts select[name='statuts_chlids[]']").empty().append(json.html).trigger('bootstrapDualListbox.refresh');
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR['responseText']);
                    $.LoadingOverlay("hide");
                }
            })
        }
        function saveConfigStatut(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_statuts")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/statut',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-statuts").data("kendoGrid").dataSource.read();
                            showNotify('Statut enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigStatut(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        function loadConfigPMAs(){
            $("#config_grid-pma-container").empty().html('<div id="config_grid-pma" style="height: 450px"></div>');
            loadConfigGrid($("#config_grid-pma"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigPMA(\"#: id_PMA #\",\"#: libelle #\")'><b> #: libelle #</b></a>"
                }
            ], "api/config/pma/read");
            $("#config_list-pma-container").parent().show();
            $("#config_btn-add_pma").click();
        }
        function loadConfigPMA(id_PMA, libelle){
            if(id_PMA === 0){
                $("#title_config_pma").text('Ajout PMA');
                $("#title-btn_config_pma").text('Ajouter');
                disableButtons("#config_btn-add_pma");
                $("#config_list-pma-container .btn-delete").hide();
            } else{
                $("#title_config_pma").text('Modification PMA');
                $("#title-btn_config_pma").text('Enregister');
                enableButtons("#config_btn-add_pma");
                $("#config_list-pma-container .btn-delete").show();
            }
            $("#form_config_pma input[name='id_PMA']").val(id_PMA);
            $("#form_config_pma input[name='libelle']").val(libelle);
        }
        function saveConfigPMA(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_pma")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/pma',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-pma").data("kendoGrid").dataSource.read();
                            showNotify('PMA enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigPMA(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        function loadConfigPoidsOPC(){
            $("#config_grid-poids_opc-container").empty().html('<div id="config_grid-poids_opc" style="height: 450px"></div>');
            loadConfigGrid($("#config_grid-poids_opc"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigPoidOPC(\"#: id_POIDS_OPC #\",\"#: libelle #\")'><b> #: libelle #</b></a>"
                }
            ], "api/config/poids_opc/read");
            $("#config_list-poids_opc-container").parent().show();
            $("#config_btn-add_poids_opc").click();
        }
        function loadConfigPoidOPC(id_POIDS_OPC, libelle){
            if(id_POIDS_OPC === 0){
                $("#title_config_poids_opc").text('Ajout poid OPC');
                $("#title-btn_config_poids_opc").text('Ajouter');
                disableButtons("#config_btn-add_poids_opc");
                $("#config_list-poids_opc-container .btn-delete").hide();
            } else{
                $("#title_config_poids_opc").text('Modification poid OPC');
                $("#title-btn_config_poids_opc").text('Enregister');
                enableButtons("#config_btn-add_poids_opc");
                $("#config_list-poids_opc-container .btn-delete").show();
            }
            $("#form_config_poids_opc input[name='id_POIDS_OPC']").val(id_POIDS_OPC);
            $("#form_config_poids_opc input[name='libelle']").val(libelle);
        }
        function saveConfigPoidOPC(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_poids_opc")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/poid_opc',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-poids_opc").data("kendoGrid").dataSource.read();
                            showNotify('Poid OPC enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigPoidOPC(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        function loadConfigSourcesCiblages(){
            $("#config_grid-sources_ciblages-container").empty().html('<div id="config_grid-sources_ciblages" style="height: 450px"></div>');
            loadConfigGrid($("#config_grid-sources_ciblages"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigSourceCiblage(\"#: id_SOURCES_CIBLAGES #\",\"#: libelle #\")'><b> #: libelle #</b></a>"
                }
            ], "api/config/sources_ciblages/read");
            $("#config_list-sources_ciblages-container").parent().show();
            $("#config_btn-add_sources_ciblages").click();
        }
        function loadConfigSourceCiblage(id_SOURCES_CIBLAGES, libelle){
            if(id_SOURCES_CIBLAGES === 0){
                $("#title_config_sources_ciblages").text('Ajout source ciblage');
                $("#title-btn_config_sources_ciblages").text('Ajouter');
                disableButtons("#config_btn-add_sources_ciblages");
                $("#config_list-sources_ciblages-container .btn-delete").hide();
            } else{
                $("#title_config_sources_ciblages").text('Modification source ciblage');
                $("#title-btn_config_sources_ciblages").text('Enregister');
                enableButtons("#config_btn-add_sources_ciblages");
                $("#config_list-sources_ciblages-container .btn-delete").show();
            }
            $("#form_config_sources_ciblages input[name='id_SOURCES_CIBLAGES']").val(id_SOURCES_CIBLAGES);
            $("#form_config_sources_ciblages input[name='libelle']").val(libelle);
        }
        function saveConfigSourceCiblage(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_sources_ciblages")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/source_ciblage',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-sources_ciblages").data("kendoGrid").dataSource.read();
                            showNotify('Source ciblage enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigSourceCiblage(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        function loadConfigUniversBesoins(){
            $("#config_grid-univers_besoins-container").empty().html('<div id="config_grid-univers_besoins" style="height: 450px"></div>');
            loadConfigGrid($("#config_grid-univers_besoins"), [
                { "field": "libelle", "title":"Libelle", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                    "template":
                        "<a onclick='loadConfigUniverBesoin(\"#: id_UNIVERS_BESOINS #\",\"#: libelle #\")'><b> #: libelle #</b></a>"
                }
            ], "api/config/univers_besoins/read");
            $("#config_list-univers_besoins-container").parent().show();
            $("#config_btn-add_univers_besoins").click();
        }
        function loadConfigUniverBesoin(id_UNIVERS_BESOINS, libelle){
            if(id_UNIVERS_BESOINS === 0){
                $("#title_config_univers_besoins").text('Ajout univers de besoin');
                $("#title-btn_config_univers_besoins").text('Ajouter');
                disableButtons("#config_btn-add_univers_besoins");
                $("#config_list-univers_besoins-container .btn-delete").hide();
            } else{
                $("#title_config_univers_besoins").text('Modification univers de besoin');
                $("#title-btn_config_univers_besoins").text('Enregister');
                enableButtons("#config_btn-add_univers_besoins");
                $("#config_list-univers_besoins-container .btn-delete").show();
            }
            $("#form_config_univers_besoins input[name='id_UNIVERS_BESOINS']").val(id_UNIVERS_BESOINS);
            $("#form_config_univers_besoins input[name='libelle']").val(libelle);
        }
        function saveConfigUniverBesoin(){
            $.LoadingOverlay("show");
            var formData = new FormData($("#form_config_univers_besoins")[0]);
            setTimeout(function (){
                $.ajax({
                    url:'api/config/univer_besoin',
                    type:'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    async:false,
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        if(json.result === true){
                            $("#config_grid-univers_besoins").data("kendoGrid").dataSource.read();
                            showNotify('Univers de besoin enregistré avec succès', 'success');
                        } else if(json.errors.length > 0){
                            showNotify(json.errors.join(' | '), 'danger');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }
        function deleteConfigUniverBesoin(){
            showNotify('Cette fonctionnalité n\'est pas encore disponible', 'info');
        }

        $(function (){

            $("#form_edit-config_module-container").empty();
            $("#form_edit-config_module-container").html(`{{ _self.content_modal() }}`);

            $("#form_edit-config_module-container .select2").select2({
                minimumResultsForSearch: Infinity
            });
            $("#form_edit-config_module-container .colorpicker-basic").spectrum({
                appendTo: "#form_edit-config_module-container",
                showButtons: false,
                allowEmpty: true,
                showInput: true,
                change: function(c) {
                    if(c == null){
                        $(this).val('');
                    }else{
                        $(this).val(c.toHexString());
                    }
                }
            });
            $("#form_edit-config_module-container").find('.icon-color-clear').on('click', function(){
                $("#form_edit-config_module-container").find('.colorpicker-basic').spectrum("set", "");
            });

            $("#modal_edit-config_module .modal-footer").remove();

            $("#btn-show-module-config").on('click', function (){
                $('#nav-config_module .nav-tabs li').removeClass('active');
                $('#nav-config_module .nav-tabs li[data-type="types_communications"]').addClass('active');
                $("#modal_edit-config_module").modal('show');
            });

            $('#modal_edit-config_module').on('shown.bs.modal', function () {
                loadScreenActiveConfig();
            })

            $(document).on('click', '#nav-config_module .nav-tabs li:not(.active)', function (){
                $('#nav-config_module .nav-tabs li').removeClass('active');
                $(this).addClass('active');
                loadScreenActiveConfig();
            })

            $(document).on('click', '#modal_edit-config_module .btn-save', function (){
                saveScreenActiveConfig();
            })
            $(document).on('click', '#modal_edit-config_module .btn-delete', function (){
                deleteScreenActiveConfig();
            })

            $("#config_btn-add_types_communications").click(function () {
                loadConfigTypeCommunication(0, null);
            });
            $("#config_btn-add_actions").click(function () {
                loadConfigAction(0, null);
            });
            $("#config_btn-add_services").click(function () {
                loadConfigService(0, null);
            });
            $("#config_btn-add_statuts").click(function () {
                loadConfigStatut(0, null, null);
            });
            $("#config_btn-add_pma").click(function () {
                loadConfigPMA(0, null);
            });
            $("#config_btn-add_poids_opc").click(function () {
                loadConfigPoidOPC(0, null);
            });
            $("#config_btn-add_sources_ciblages").click(function () {
                loadConfigSourceCiblage(0, null);
            });
            $("#config_btn-add_univers_besoins").click(function () {
                loadConfigUniverBesoin(0, null);
            });

        })

    </script>

{% endmacro javascript %}