{% macro float_btn() %}
    <ul id="btn-campagnes-list" class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-popup="tooltip" title="Ajouter une campagne" data-placement="left">
        <li>
            <a class="fab-menu-btn btn bg-teal-400 btn-float btn-rounded btn-icon">
                <i class="fab-icon-open icon-plus3"></i>
                <i class="fab-icon-close icon-cross2"></i>
            </a>
        </li>
    </ul>
{% endmacro float_btn %}

{% macro search_list_campagnes() %}
    <div id="search-bar-campagnes" class="heading-elements" style="right: 80px;">
        <form class="heading-form" action="#">
            <div class="form-group">
                <div class="has-feedback">
                    <input type="search" class="form-control" placeholder="Rechercher">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-size-small text-muted"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endmacro search_list_campagnes %}

{% macro content() %}

    <div id="list-campagnes-container">
        <div id="grid-campagnes"></div>
    </div>

    {{ macro_global.modal('add', 'campagne', 'Ajout d\'une campagne',[
        _self.content_modal_add_campagne(1)
    ]) }}

    {{ macro_global.modal('view', 'help', 'Mémos',[
        _self.content_modal_help(1)
    ]) }}

    {{ _self.float_btn() }}

{% endmacro content %}

{% macro javascript() %}

    <script>

        $(function (){

            $("#page-header-searchbar").empty().append(`{{ _self.search_list_campagnes() }}`);

            $("#grid-campagnes").kendoGrid({
                "columns":[
                    { "field": "nom", "title":"NOM", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                        "template":
                            "<a onclick='loadActions(\"#: id_CAMPAGNES #\",\"#: nom #\")'><b> #: nom #</b></a>"
                    },
                    { "field": "univers", "title":"UNIVERS DE BESOIN", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" } },
                    { "field": "pma", "title":"PMA", "width": "75px", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" } },
                    { "field": "date_commercialisation", "format": "{0: dd/MM/yyyy}", "title":"COMMERCIALISATION", "width": "160px", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" } },
                    { "field": "recurrent", "title":"RECURRENT", "width": "120px", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                        "template":
                            "# if (recurrent) { " +
                            "# <span class='fa fa-check-circle' style='color: green'></span> # " +
                            "}else { " +
                            "# <span class='fa fa-times-circle' style='color: red'></span> # " +
                            "} #"
                    },
                    { "field": "nom_complet", "title":"CHARGE", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" } },
                    { "field": "", "title":"STATUT", "width": "120px", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                        "template":
                            "# if (nb_actions == 0) { " +
                            "# <span class='label' style='background-color: rgb(166,166,166)'>NON CONFIGURÉ</span> # " +
                            "}else if (nb_actions == nb_non_demarrer) { " +
                            "# <span class='label' style='background-color: rgb(166,166,166)'>NON DÉMARRÉ</span> # " +
                            "}else if (nb_actions != 0 && nb_retard > 0) { " +
                            "# <span class='label' style='background-color: rgb(255,0,0)'>EN RETARD</span> # " +
                            "}else if (nb_actions == nb_abandonner) { " +
                            "# <span class='label' style='background-color: grey'>ABANDONNÉ</span> # " +
                            "}else if (nb_actions == (nb_terminer + nb_abandonner)) { " +
                            "# <span class='label' style='background-color: rgb(146,208,80)'>TERMINÉ</span> # " +
                            //"}else if (nb_en_cours > 0) { " +
                            "}else { " +
                            "# <span class='label' style='background-color: rgb(255,192,0)'>EN COURS</span> # " +
                            //"}else { " +
                            //"# <span class='label' style='background-color: transparent'></span> # " +
                            "} #"
                    },
                    { "field": "", "title":"AVANCEMENT", "width": "120px", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                        "template":
                            "# if (nb_actions == 0 || nb_actions == nb_non_demarrer) { " +
                            "# <div class='progress'><span class='progressbar-back-text'>0%</span><div class='progress-bar progress-bar-striped active bg-danger' style='width: 0%;'></div></div> # " +
                            "}else if (nb_actions == (nb_terminer + nb_abandonner) || nb_actions == nb_abandonner) { " +
                            "# <div class='progress'><span class='progressbar-back-text'>100%</span><div class='progress-bar progress-bar-striped active bg-green' style='width: 100%;'></div></div> # " +
                            "}else { " +
                            "# <div class='progress'><span class='progressbar-back-text'>#: kendo.toString(Math.trunc((nb_terminer + nb_abandonner) * 100) / nb_actions, 'n0') #%</span><div class='progress-bar progress-bar-striped active bg-orange' style='width: #: ((nb_terminer + nb_abandonner)*100)/nb_actions #%;'></div></div> # " +
                            "} #"
                    }
                ],
                "autoBind": true,
                "dataSource":{
                    "sort":[],
                    "transport":{
                        "read":{
                            "url":"api/campagnes/read",
                            "contentType":"application\/json",
                            "type":"POST"
                        },
                        "parameterMap":function(data) {
                            return kendo.stringify(data);
                        }
                    },
                    "page": 1,
                    "pageSize":100,
                    "schema":{
                        "data":"data",
                        "model":{
                            "id": "id",
                            "fields": {
                                "date_commercialisation": { "type": "date" },
                                "date_debut": { "type": "date" },
                                "date_fin": { "type": "date" }
                            }
                        },
                        "errors":"errors",
                        "groups":"groups",
                        "aggregates":"aggregates",
                        "total":"total"
                    },
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "editable": "inline",
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    "refresh":true,
                    "buttonCount": 5,
                    "pageSizes":[10,20,30,50,100]
                }
            });

            $("#search-bar-campagnes input").keyup(function () {
                var selecteditem = $('#search-bar-campagnes input').val();
                var kgrid = $("#grid-campagnes").data("kendoGrid");
                selecteditem = selecteditem.toUpperCase();
                var selectedArray = selecteditem.split(" ");
                if (selecteditem) {
                    var orfilter = { logic: "or", filters: [] };
                    var andfilter = { logic: "and", filters: [] };
                    $.each(selectedArray, function (i, v) {
                        if (v.trim() != "") {
                            $.each(selectedArray, function (i, v1) {
                                if (v1.trim() != "") {
                                    orfilter.filters.push(
                                        { field: "nom", operator: "contains", value:v1 }
                                    );
                                    andfilter.filters.push(orfilter);
                                    orfilter = { logic: "or", filters: [] };
                                }
                            });
                        }
                    });
                    kgrid.dataSource.filter(andfilter);
                } else {
                    var grid = $("#grid-campagnes").data("kendoGrid");
                    var jsonOptions = grid.getOptions();
                    jsonOptions.dataSource.filter = null;
                    jsonOptions.dataSource.sort = null;
                    jsonOptions.dataSource.group = [];
                    grid.setOptions(jsonOptions);
                }
            });

            $("#btn-campagnes-list .btn-float").on('click', function (){
                loadPopupCampagne($("#modal_add-campagne"));
            });

            $("#modal_add-campagne .btn-save").on('click', function (){
                $.LoadingOverlay("show");
                var formData = new FormData($("#form_add-campagne")[0]);
                setTimeout(function (){
                    $.ajax({
                        url: 'api/campagnes/add',
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            json = JSON.parse(json);
                            $.LoadingOverlay("hide");
                            if(json.result === true){
                                $("#grid-campagnes").data("kendoGrid").dataSource.read();
                                $("#form_add-campagne").closest('.modal').modal('hide');
                                loadActions(json.campagne.id_CAMPAGNES, json.campagne.nom);
                                loadPopupCampagne($("#modal_edit-actions_campagne"));
                            } else if(json.errors.length > 0)
                                showNotify(json.errors.join(' | '), 'danger');
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            });

            $("#btn-show-modal-help").on('click', function (){
                $("#modal_view-help .btn-save").remove();
                $("#modal_view-help").modal('show');
            });

        })

    </script>

{% endmacro javascript %}

{% macro content_modal_add_campagne(id) %}
    <fieldset title="{{ id }}" class="">
        <div class="row panel-scroll"></div>
    </fieldset>
{% endmacro content_modal_add_campagne %}

{% macro content_modal_help(id) %}
    <fieldset title="{{ id }}" class="">
        <div class="row">
            <div class="col-md-12" style="text-align: center;font-size: 20px">
                Cette rubrique est en cours de construction...
            </div>
        </div>
    </fieldset>
{% endmacro content_modal_help %}
