{% macro modal(type, name, title, etapes, btnCancel, btnIcon, btnTitle, modalSize) %}
    <div class="modal fade" id="modal_{{ type }}-{{ name }}" data-backdrop="static">
        <div class="modal-dialog {{ ' ' ~ modalSize }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="fa {{ (type == 'add') ? ' fa-plus-circle' : (type == 'edit') ? ' fa-edit' : ' ' ~ btnIcon }}" style="font-size: 17px"></span>&nbsp;&nbsp;<b><u>{{ title }}</u></b></h5>
                    <button type="button" class="close" data-dismiss="modal"><span class="btn-close fa fa-times-circle"></span></button>
                </div>
                <span id="form_{{ type }}-{{ name }}-container">
                    <form action="#" id="form_{{ type }}-{{ name }}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            {% for etape in etapes %}
                                {{ etape }}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            {% if btnCancel %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            {% endif %}
                            <button type="button" class="btn btn-save btn-labeled btn-labeled-right stepy-finish">
                                <b><i class="fa {{ (type == 'add') ? ' fa-plus-circle' : (type == 'edit') ? ' fa-save' : ' ' ~ btnIcon }}"></i></b>
                                {{ (type == 'add') ? 'Ajouter' : (type == 'edit') ? 'Enregister' : btnTitle }}
                            </button>
                        </div>
                    </form>
                </span>
            </div>
        </div>
    </div>
{% endmacro modal %}

{% macro css() %}

    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.common.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ URL_PREFIX }}/assets/css/kendo/kendo.bootstrap.mobile.min.css" />

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/kendo.all.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/prettify.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/jszip.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/pako_deflate.min.js"></script> <!-- Load Pako ZLIB library to enable PDF compression -->
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/kendo.web.plugins.extgrid.js"></script> <!-- External Columns filter -->

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/cultures/kendo.culture.fr-FR.min.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/kendo/messages/kendo.messages.fr-FR.min.js"></script>

    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/forms/styling/switch.min.js"></script>

    <link rel='stylesheet'  href='{{ URL_PREFIX }}/assets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker-custom.css' />
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ URL_PREFIX }}/assets/js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js"></script>

    <style>

        .k-grid td{
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        th.k-header {
            text-align: center
        }

        .nav.nav-tabs.nav-tabs-solid.nav-tabs-component{
            background-color: rgb(212,230,231);
        }
        .nav-tabs.nav-tabs-solid > .active > a, .nav-tabs.nav-tabs-solid > .active > a:hover, .nav-tabs.nav-tabs-solid > .active > a:focus {
            background-color: rgb(48,109,84);
            border-color: rgb(48,109,84);
            color: #fff;
        }
        .nav-tabs.nav-tabs-solid > li > a:hover, .nav-tabs.nav-tabs-solid > li > a:focus {
            background-color: rgb(65,147,150);
            border-color: rgb(65,147,150);
            color: #fff;
        }

        .modal .form-group{
            margin-bottom: 5px;
        }
        .modal .form-group .select2{
            margin-bottom: 0;
        }

        #list-actions-service-container .panel{
            margin-top: 5px;
        }

        [id^=accordion-services-group] .panel-body{
            padding: 1px;
        }

        #breadcrumb-current-campagne:not(.active), #breadcrumb-current-action:not(.active){
            cursor: pointer;
        }

        .progress .progressbar-back-text{
            font-size: 13px;
            font-weight: bold;
        }

        .datepicker{
            width: auto;
        }

        #list-commentaires-campagne-container.panel-scroll{
            max-height: 345px;
        }
        .chat-list{
            max-height: none;
            padding: 0 15px;
        }
        .chat-list .media {
            margin-right: 0;
        }
        .chat-list .media-annotation a .text-muted {
            color: rgb(42,100,115);
            text-decoration: underline;
        }
        .chat-list .media-content:not([class*=bg-]) {
            color: white;
            background-color: rgb(66,149,135);
            border-color: rgb(66,149,135);
        }
        #list-marketing-direct-refs-container.chat-list .media-content:not([class*=bg-]) {
            color: white;
            background-color: #999;
            border-color: #999;
        }
        .chat-list .reversed .media-content:not([class*=bg-]) {
            color: white;
            background-color: rgb(54,123,141);
            border-color: rgb(54,123,141);
        }
        .chat-list .sub-media {
            padding-left: 35px;
        }
        .chat-list .media-me .media-content:not([class*=bg-]) {
            color: white;
            background-color: rgb(54,123,141);
            border-color: rgb(54,123,141);
        }

        .timeline-container .panel-body{
            padding: 10px;
        }
        .timeline-time span:before{
            display: none;
        }

        .plupload_filelist:empty:after, .plupload_filelist li.plupload_droptext:after{
            content: 'Glissez les fichiers ici'
        }

        .select2-search__field{
            border: none !important;
            /*padding-left: 12px !important;*/
        }

        textarea[name='comment'], #reply-to{
            margin-bottom: 5px !important;
        }


        /*#send-to .select2-search__field{
            padding-left: 0px !important;
            margin-left: 0px !important;
            position: relative;
        }
        #send-to span.select2-selection.select2-selection--multiple:before{
            content: 'A :';
            position: absolute;
            line-height: 38px;
            padding-left: 5px;
            font-weight: bold;
        }*/

        #send-cc span.select2-selection.select2-selection--multiple:before{
            content: 'CC :';
            position: absolute;
            line-height: 38px;
            padding-left: 5px;
            font-weight: bold;
        }

        /*ul.select2-selection__rendered{
            padding-left: 35px !important;
        }*/

        #list-commentaires-campagne-container .media-body .media-content a{
            color: white;
            text-decoration: underline;
        }

        .input-group-addon{
            padding: 9px;
        }
        .input-group-addon, .input-group-btn .btn.btn-icon{
            border-color: #306BA2;
        }

        #modal_add-refs_comm_global- .select2-selection{
            border-left: none !important;
            border-radius: 0;
        }

        #modal_add-refs_comm_global .panel-heading, #modal_add-campagne .panel-heading, #modal_edit-actions_campagne .panel-heading{
            padding-top: 10px;
            padding-bottom: 10px;
        }

    </style>

{% endmacro css %}

{% macro javascript() %}

    <script>

        var id_CAMPAGNES_SELECTED = 0;
        var id_ACTIONS_SELECTED = 0;
        var id_CIBLES_SELECTED = 0;

        var optionDatePicker = {
            format: "dd/mm/yyyy",
            startView: 0,
            minViewMode: 0,
            language: "fr",
            orientation: "bottom",
            todayHighlight: true,
            autoclose: true,
            templates: {
                leftArrow: '<i class="icon-circle-left2"></i>',
                rightArrow: '<i class="icon-circle-right2"></i>'
            }
        }
        function formatSelect2Output (optionElement) {
            if (!optionElement.id) { return optionElement.text; }
            var $state = "";
            var reg = new RegExp('^s[0-9]$');
            if(reg.test(optionElement.id))
                $state = $('<span><strong>' + optionElement.text + '</strong></span>');
            else
                $state = $('<span style="padding-left: 20px">' + optionElement.text + '</span>');
            return $state;
        }

        function resetForm(selector){
            document.querySelector(selector).reset();
            $(selector + " select").trigger('change');
        }
        function loadPopupCampagne(selector){
            var isEdit = selector.attr('id').indexOf('modal_edit-');
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/campagnes/'+ id_CAMPAGNES_SELECTED +'/popup',
                    type:'GET',
                    success: function(json){

                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");

                        selector.find('.modal-footer .btn-secondary')
                            .css('position','absolute')
                            .css('left','20px')
                            .html('<span class="fa fa-plus"></span> Ajouter un service')
                            .removeAttr('data-dismiss')
                            .prop('id', 'btn-add-service')
                            .remove();

                        if(isEdit === -1)
                            selector.find('form .panel-scroll').empty().append(json.html);
                        else
                            selector.find('form .panel-scroll #list-actions-service-container').empty().append(json.html);

                        selector.find('.select2').select2({
                            minimumResultsForSearch: Infinity
                        });

                        selector.find('[name="date_commercialisation"]').datepicker(optionDatePicker);
                        selector.find('[name="date_debut"]').datepicker(optionDatePicker);
                        selector.find('[name="date_fin"]').datepicker(optionDatePicker);

                        if(isEdit !== -1){
                            if(json.campagne.date_commercialisation !== null)
                                selector.find('[name="date_commercialisation"]').datepicker('setDate', new Date(json.campagne.date_commercialisation));
                            if(json.campagne.date_debut !== null)
                                selector.find('[name="date_debut"]').datepicker('setDate', new Date(json.campagne.date_debut));
                            if(json.campagne.date_fin !== null)
                                selector.find('[name="date_fin"]').datepicker('setDate', new Date(json.campagne.date_fin));
                            selector.find('.switch').bootstrapSwitch();
                        }

                        $(selector).modal('show');

                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500)
        }

        function initPlupload(modalSelector, selector){

            modalSelector.find('.file-uploader').remove();
            modalSelector.find('#file-uploader-container').append('<div class="file-uploader"></div>');
            var selectorUploader = modalSelector.find('.file-uploader');

            selectorUploader.pluploadQueue({
                runtimes: 'html5, html4, Flash, Silverlight',
                url: 'api/attachements',
                chunk_size: '1000Kb',
                filters: {
                    max_file_size: '3000Kb',
                    mime_types: [{
                        title: "Files",
                        extensions: "jpg,gif,png,xlsx,pptx,pdf,docx,zip"
                    }]
                },
                resize: {
                    width: 320,
                    height: 240,
                    quality: 90
                },
                rename:true,
            });

            var uploader = selectorUploader.pluploadQueue();

            uploader.bind('BeforeUpload', function(up, file, res) {
                if(this.total.uploaded === 0)
                    $.LoadingOverlay("show");
                uploader.settings.url = 'api/attachements/' + id_CAMPAGNES_SELECTED + '/' + id_ACTIONS_SELECTED + '/' + id_CIBLES_SELECTED;
            });

            uploader.bind('FileUploaded', function(up, file, res) {
                var rep = JSON.parse(res.response);
                selector.find('#file-uploader-list').append('<div><i class="icon-attachment"></i>&nbsp;'+rep.attach.nom+'&nbsp;<a><i data-attach-id="'+rep.attach.id_ATTACHEMENTS+'" style="color:red;margin-top: -1px" class="icon-cancel-circle2"></i></a></div>');
                scrollCommentaires(selector);
                if(this.total.queued === 0) {
                    $.LoadingOverlay("hide");
                    modalSelector.modal('hide');
                }
            });

        }
        function loadGridAttachements(selector){
            selector.find('#grid-attachements').kendoGrid({
                "columns":[
                    { "field": "", "title":"DOCUMENTS", "width": "", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" },
                        "template":
                            "<a href='{{ URL_PREFIX }}#: chemin #' target='_blank'><b> #: nom #</b></a>"
                    },
                    { "field": "nom_complet", "title":"AUTEUR", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" } },
                    { "field": "date_upload", "format": "{0: dd/MM/yyyy HH:mm}", "title":"DATE", "headerAttributes": { "style": "font-weight:bold; text-align: center" }, "attributes": { "style": "text-align: center;" } }
                ],
                "autoBind": true,
                "dataSource":{
                    "sort":[],
                    "transport":{
                        "read":{
                            "url":"api/attachements/read",
                            "contentType":"application\/json",
                            "type":"POST"
                        },
                        "parameterMap":function(data) {
                            return kendo.stringify(data);
                        }
                    },
                    "page": 1,
                    "pageSize":100,
                    "schema":{
                        "data":"data",
                        "model":{
                            "id": "",
                            "fields": {
                                "date_upload": { "type": "date" }
                            }
                        },
                        "errors":"errors",
                        "groups":"groups",
                        "aggregates":"aggregates",
                        "total":"total"
                    },
                    "serverFiltering":true,
                    "serverSorting":true,
                    "serverGrouping":true,
                    "serverPaging":true
                },
                "allowCopy":true,
                "scrollable": {
                    "virtual": false
                },
                "editable": "inline",
                "selectable":false,
                "sortable":false,
                "columnMenu":false,
                "groupable":false,
                "resizable":false,
                "reorderable":false,
                "filterable":false,
                "pageable":{
                    "refresh":true,
                    "buttonCount": 5,
                    "pageSizes":[10,20,30,50,100]
                }
            });
        }
        function loadAttachements(selector){
            selector.find('#grid-attachements').data("kendoGrid").dataSource.read();
            filterAttachementsList(selector);
            selector.find('#grid-attachements-container').show();
        }
        function filterAttachementsList(selector){
            var grid = selector.find('#grid-attachements').data("kendoGrid");
            var jsonOptions = grid.getOptions();
            var filters = [];
            filters.push({
                "field": 'id_CAMPAGNES',
                "operator": 'eq',
                "value": id_CAMPAGNES_SELECTED
            });
            if(id_ACTIONS_SELECTED > 0){
                filters.push({
                    "field": 'id_ACTIONS',
                    "operator": 'eq',
                    "value": id_ACTIONS_SELECTED
                });
            }else{
                filters.push({
                    "field": 'id_ACTIONS',
                    "operator": 'isnull'
                });
            }
            if(id_CIBLES_SELECTED > 0){
                filters.push({
                    "field": 'id_CIBLES',
                    "operator": 'eq',
                    "value": id_CIBLES_SELECTED
                });
            }else{
                filters.push({
                    "field": 'id_CIBLES',
                    "operator": 'isnull'
                });
            }
            jsonOptions.dataSource.filter = {'filters':filters,'logic': "and"};
            jsonOptions.dataSource.page = 1;
            grid.setOptions(jsonOptions);
        }

        function loadCommentaires(selector){
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/commentaires/'+ id_CAMPAGNES_SELECTED +'/' + id_ACTIONS_SELECTED + '/' + id_CIBLES_SELECTED,
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        selector.find('#file-uploader-list').empty();
                        selector.find('[id^="list-commentaires"] .chat-list').empty().append(json.html).parent().show();
                        scrollCommentaires(selector);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500);
        }
        function scrollCommentaires(selector){
            if(selector.attr('id').startsWith('list-commentaires'))
                selector = "#" + selector.parent().parent().parent().attr('id') + " #" + selector.attr('id');
            else
                selector = "#" + selector.attr('id') + " #" + selector.find('[id^="list-commentaires"]').attr('id');
            var objDiv = document.querySelector(selector);
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        function loadHistoriques(selector){
            $.LoadingOverlay("show");
            setTimeout(function (){
                $.ajax({
                    url: 'api/historiques/'+ id_CAMPAGNES_SELECTED + '/' + id_ACTIONS_SELECTED + '/' + id_CIBLES_SELECTED,
                    type:'GET',
                    success: function(json){
                        json = JSON.parse(json);
                        $.LoadingOverlay("hide");
                        selector.find('#list-historiques-campagne-container .timeline-container').empty().append(json.html).parent().parent().show();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR['responseText']);
                        $.LoadingOverlay("hide");
                    }
                })
            },500);
        }

        function scrollStatut(selector){
            var objDiv = document.querySelector(selector + " #list-statuts-action-container .panel-scroll");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        $(function() {

            $(document).on('change', 'select[name="id_UNIVERS_BESOINS"]', function (){
                var input_UniversLibelle = $(this).closest('form').find('input[name="univers_libelle"]');
                input_UniversLibelle.val("");
                if($(this).val() === "0")
                    input_UniversLibelle.closest(".col-md-12").show();
                else
                    input_UniversLibelle.closest(".col-md-12").hide();
            });

            $(document).on('click', '#btn-add-file-commentaires', function (){
                var selector = $(this).closest("[id^='list-commentaires']");
                var modalSelector = (selector.attr('id').indexOf('campagne') === -1) ? '' : $('#modal_add-files_actions');
                modalSelector.find('.btn-save').remove();
                initPlupload(modalSelector, selector);
                modalSelector.modal('show');
            })
            $(document).on('click', '#file-uploader-list .icon-cancel-circle2', function (){
                var id_ATTACHEMENTS = $(this).attr('data-attach-id');
                $.LoadingOverlay("show");
                var that = $(this);
                setTimeout(function (){
                    $.ajax({
                        url: 'api/attachement/' + id_ATTACHEMENTS,
                        type:'DELETE',
                        success: function(json){
                            json = JSON.parse(json);
                            if(json.result)
                                that.closest('div').remove();
                            $.LoadingOverlay("hide");
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)
            });

            $('.select2-multiple').select2({
                templateResult: formatSelect2Output
            });
            $('.select2-multiple').on('select2:select', function (e){
                var id = e.params.data.id;
                var reg = new RegExp('^s[0-9]$');
                if(reg.test(id)){
                    $(this).select2("destroy");
                    $(this).find('option[value^="'+id+'_"]').removeAttr('selected');
                    $(this).find('option[value^="'+id+'_"]').attr('disabled','disabled');
                    $(this).select2({
                        templateResult: formatSelect2Output
                    });
                }
            });
            $('.select2-multiple').on('select2:unselect', function (e){
                var id = e.params.data.id;
                var reg = new RegExp('^s[0-9]$');
                if(reg.test(id)) {
                    $(this).select2("destroy");
                    $(this).find('option[value^="' + id + '_"]').removeAttr('disabled');
                    $(this).select2({
                        templateResult: formatSelect2Output
                    });
                }
            });

            $(document).on('click', '.media-annotation a:not(.btn-load-ref_comm)', function (){
                var selector = $(this).closest("[id^='list-commentaires']");
                var name = $(this).closest('.media-annotation').find("span:eq(1)");
                var date = $(this).closest('.media-annotation').find("span:eq(3)");
                selector.find('#reply-to').empty().append('Réponse au commentaire de <b>'+ name.text() +'</b> du <b>'+ date.text() +'</b>&nbsp;<a><i style="color:red;margin-top: -1px" class="icon-cancel-circle2"></i></a>');
                selector.find('input[name="id_COMMENTAIRES_PARENT"]').val($(this).data('comment-id'));
                scrollCommentaires(selector);
            });
            $(document).on('click', '#reply-to .icon-cancel-circle2', function (){
                var selector = $(this).closest("[id^='list-commentaires']");
                selector.find('#reply-to').empty().append('<b>NOUVEAU COMMENTAIRE</b>');
                selector.find('form input[name="id_COMMENTAIRES_PARENT"]').val(0);
            });
            $(document).on('click', '#btn-show-cc', function (){
                var selector = $(this).closest("[id^='list-commentaires']");
                if(selector.find('#send-cc').is(':visible'))
                    selector.find('#send-cc').hide();
                else
                    selector.find('#send-cc').show();
            });

            $(document).on('click', '#list-commentaires-campagne-container .btn-save', function (){

                var selector = $(this).closest("[id^='list-commentaires']");

                var attachements = selector.find('#file-uploader-list div').map(function() {
                    return $(this).find('i.icon-cancel-circle2').data('attach-id');
                }).get();

                $.LoadingOverlay("show");

                var formData = new FormData(selector.find('[id^="form_add-comment"]')[0]);
                formData.append('attachements', attachements)

                setTimeout(function (){
                    $.ajax({
                        url: 'api/commentaires/' + id_CAMPAGNES_SELECTED + '/' + id_ACTIONS_SELECTED + '/' + id_CIBLES_SELECTED,
                        type:'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        async:false,
                        success: function(json){
                            json = JSON.parse(json);
                            $.LoadingOverlay("hide");
                            if(json.result === true){
                                if(selector.find('textarea[name="comment"]').val() === ""){
                                    showNotify('Pièces jointes ajoutées avec succès', 'success');
                                }else{
                                    loadCommentaires(selector.parent().parent().parent());
                                    showNotify('Commentaire ajouté avec succès', 'success');
                                }
                                selector.find('[id^="form_add-comment"] textarea[name="comment"]').val('');
                                selector.find('#file-uploader-list').empty();
                                selector.find('#reply-to').empty().append('<b>NOUVEAU COMMENTAIRE</b>');
                                selector.find('input[name="id_COMMENTAIRES_PARENT"]').val(0);
                                selector.find('[name="users_to[]"]').val('').trigger('change');
                            } else if(json.errors.length > 0)
                                showNotify(json.errors.join(' | '), 'danger');
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR['responseText']);
                            $.LoadingOverlay("hide");
                        }
                    })
                },500)

            });

        })

    </script>

{% endmacro javascript %}

{% macro page_header(user_logged, breadcrumb) %}
    <div class="content-group border-top" style="border-top: 1px solid #ddd">
        <div class="page-header page-header-default page-header-xs" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
            <div class="page-header-content">
                <div class="page-title">
                    <h5>Bonjour&nbsp;<span class="text-semibold">{{ user_logged.user.prenom }}&nbsp;{{ user_logged.user.nom }}</span>, bienvenue sur votre espace DIGI'PROJECTS :</h5>
                </div>
                <span id="page-header-searchbar"></span>
                <ul id="btn-show-modal-help" class="fab-menu fab-menu-fixed fab-menu-bottom-left" data-popup="tooltip" title="Mémos" data-placement="left" style="right: 15px;top: 10px;position: absolute;">
                    <li>
                        <a class="fab-menu-btn btn bg-blue-800 btn-float btn-rounded btn-icon">
                            <i class="fab-icon-open icon-question7"></i>
                            <i class="fab-icon-close icon-cross2"></i>
                        </a>
                    </li>
                </ul>
            </div>
            {{ breadcrumb }}
        </div>
    </div>
{% endmacro page_header %}

{% macro breadcrumb(user_logged) %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="."><i class="icon-home2 position-left"></i> Campagnes</a></li>
            <li id="breadcrumb-current-campagne" class="active" style="display: none"></li>
        </ul>
        <ul class="breadcrumb-elements">
            {% if user_logged.user.hasRole('ACCESS_CONFIG','digiprojects') %}
                <li><a id="btn-show-module-config"><i class="icon-cogs position-left"></i> Configurations</a></li>
            {% endif %}
            <!--<div class="media-left">
                <a href="#" class="btn btn-info btn-rounded btn-icon btn-float" style="padding: 10px">
                    <i class="icon-bubble-notification"></i>
                </a>
                <span class="badge bg-danger-400 media-badge">6</span>
            </div>-->
        </ul>
    </div>
{% endmacro breadcrumb %}

{% macro block_commentaire_form(services, formID) %}
    <ul class="media-list chat-list content-group" style="margin-bottom: 0 !important;"></ul>
    <div>
        <div class="alert alert-info alert-styled-left alert-bordered" style="padding: 5px;text-align: center">
            <span class="text-semibold">INFORMATION !</span> Pour notifier une personne par mail, vous pouvez l'ajouter dans le champ &laquo;&nbsp;<b>Destinataire</b>&nbsp;&raquo;.
        </div>
        <div style="float: right"><a id="btn-show-cc" style="display: none">CC</a></div>
        <div id="reply-to"><b>NOUVEAU COMMENTAIRE</b></div>
    </div>
    <form action="#" id="{{ formID }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id_COMMENTAIRES_PARENT" value="0"/>
        <div id="send-to">
            <select data-placeholder="Destinataire" multiple="multiple" name="users_to[]" class="select2-multiple">
                {% for service in services %}
                    {% if service.getUsers()|length > 0 %}
                        <option value="s{{ service.id_SERVICES }}">{{ service.libelle|upper }}</option>
                    {% endif %}
                    {% for user_service in service.getUsers() %}
                        <option value="s{{ service.id_SERVICES }}_u{{ user_service.getUser().id }}">{{ user_service.getUser().prenom ~ ' ' ~ user_service.getUser().nom }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div id="send-cc" style="display: none">
            <select multiple="multiple" name="users_cc[]" class="select2-multiple">
                {% for service in services %}
                    {% if service.getUsers()|length > 0 %}
                        <option value="s{{ service.id_SERVICES }}">{{ service.libelle|upper }}</option>
                    {% endif %}
                    {% for user_service in service.getUsers() %}
                        <option value="s{{ service.id_SERVICES }}_u{{ user_service.getUser().id }}">{{ user_service.getUser().prenom ~ ' ' ~ user_service.getUser().nom }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <textarea name="comment" class="form-control content-group" rows="3" cols="1" placeholder="Votre commentaire..."></textarea>
    </form>
    <div id="file-uploader-list" style="margin-bottom: 10px;"></div>
    <div class="row">
        <div class="col-xs-6 text-left">
            <button id="btn-add-file-commentaires" type="button" class="btn bg-grey-300 btn-labeled btn-labeled-left"><b><i class="icon-attachment"></i></b> Pieces jointes</button>
        </div>
        <div class="col-xs-6 text-right">
            <button type="button" class="btn btn-save btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Ajouter</button>
        </div>
    </div>
{% endmacro block_commentaire_form %}

{% macro content_modal_add_files(id) %}
    <fieldset title="{{ id }}" class="">
        <div class="row">
            <div id="file-uploader-container" class="col-md-12"></div>
        </div>
    </fieldset>
{% endmacro content_modal_add_files %}
{% macro block_statut_form_container() %}
    <legend class="text-semibold" style="font-size: 18px;padding-bottom: 6px;padding-top: 0;">
        <i class="icon-shield-check"></i>&nbsp;Statut
        <select class="form-control select2-fixed" data-placeholder="&nbsp;" name="services_action"></select>
    </legend>
    <div id="alert_maj-statut" class="alert alert-info alert-styled-left alert-bordered" style="padding: 5px;text-align: center; display: none">
        <span class="text-semibold">INFORMATION !</span> Le statut de l'action est mis à jour automatiquement par rapport aux cibles
    </div>
    <div class="panel-scroll" style="max-height: 245px;min-height: 60px">
        <div id="list-statuts-campagne-service-action-container" style="margin-bottom: 20px;"></div>
        <form action="#" id="form_edit-statut" method="post" enctype="multipart/form-data" style="display: none">
            <span class="text-semibold" >Nouveau statut :</span>
            <select class="form-control select2" data-placeholder="Sélectionner un statut..." name="statut_service_action"></select>
            <!--<textarea name="comment_statut" class="form-control content-group" rows="3" cols="1" placeholder="Votre commentaire..." style="margin-bottom: 5px !important;"></textarea>-->
            <button id="btn-change-statut" type="button" class="btn bg-teal-300 btn-labeled btn-labeled-left" style="float: right"><b><i class="icon-sync"></i></b> Mettre à jour le statut</button>
        </form>
    </div>
{% endmacro block_statut_form_container %}