{# digiprojets_form_ref_comm_opc.twig #}

{% macro form_ref_comm_opc(ref, poids_opc, sources_ciblages) %}
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Nom OPC</label>
            <input type="text" class="form-control" placeholder="" name="nom_projet_unica" value="{{ ref.nom_projet_unica }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Date de fin</label>
            <input type="text" class="form-control" placeholder="" name="date_fin"  autocomplete="false" value="{{ ref.date_fin }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Métier</label>
            <input type="text" class="form-control" placeholder="" name="metier" value="{{ ref.metier }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Code campagne (CRC)</label>
            <input type="text" class="form-control" placeholder="" name="code_campagne_crc" value="{{ ref.code_campagne_crc }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Poid OPC</label>
            <select class="form-control select2" data-placeholder="&nbsp;" name="id_POIDS_OPC">
                <option></option>
                {% for poid_opc in poids_opc %}
                    <option value="{{ poid_opc.id_POIDS_OPC }}" {{ (ref.id_POIDS_OPC == poid_opc.id_POIDS_OPC) ? 'selected' : '' }}>{{ poid_opc.libelle }}</option>
                {% endfor %}
            </select>
        </div>
    </div><div class="col-md-6">
    <div class="form-group">
        <label class="control-label">Source ciblage OPC</label>
        <select class="form-control select2" data-placeholder="&nbsp;" name="id_SOURCES_CIBLAGES">
            <option></option>
            {% for source_ciblage in sources_ciblages %}
                <option value="{{ source_ciblage.id_SOURCES_CIBLAGES }}" {{ (ref.id_SOURCES_CIBLAGES == source_ciblage.id_SOURCES_CIBLAGES) ? 'selected' : '' }}>{{ source_ciblage.libelle }}</option>
            {% endfor %}
            <option value="0">Autres</option>
        </select>    </div>
</div>
{% endmacro form_ref_comm_opc %}

{{ _self.form_ref_comm_opc(ref, poids_opc, sources_ciblages) }}