{# digiprojets_block-cible-popup.twig #}

{% macro block_cible_form(cible, types_communications) %}
    <input type="hidden" name="id_CIBLES" value="{{ cible.id_CIBLES }}">
    <div class="col-md-12">
        <textarea name="detail" class="form-control content-group" rows="3" cols="1" placeholder="CIBLE (Détails)..." style="margin-bottom: 5px !important;">{{ cible.detail }}</textarea>
        <span>Communications concernées :</span>
    </div>
    <div class="col-md-12" align="center">
        <div class="col-md-12" style="border: 1px solid #306BA2 !important;border-radius: 3px;">
            {% for type_communication in types_communications %}
                <div class="col-md-3">
                    <div class="checkbox checkbox-switch">
                        <label>
                            {{ type_communication.libelle }}
                            <input type="checkbox" name="types_communications_cible[]" data-on-color="success" data-off-color="danger" data-on-text="OUI" data-off-text="NON" data-size="mini" class="switch" {{ (type_communication.checked) ? 'checked' : '' }} value="{{ type_communication.id_TYPES_COMMUNICATIONS }}">
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro block_cible_form %}

{{ _self.block_cible_form(cible, types_communications) }}