{# digiprojets_block-campagne_infos.twig #}

{% macro block_infos_campagne(campagne) %}
    <legend class="text-semibold">Informations campagne</legend>
    <span class="text-semibold">NOM : </span> {{ campagne.nom }}<br>
    <span class="text-semibold">UNIVERS DE BESOIN : </span> {{ campagne.univers }}<br>
    <span class="text-semibold">PMA : </span> {{ campagne.pma }}<br>
    <span class="text-semibold">DATE DE COMMERCIALISATION : </span> {{ campagne.date_commercialisation|date("d/m/Y") }}<br>
    <span class="text-semibold">DATE DE DEBUT DES ACTIONS : </span> {{ campagne.date_debut|date("d/m/Y") }}<br>
    <span class="text-semibold">DATE DE FIN DES ACTIONS : </span> {{ (campagne.date_fin) ? campagne.date_fin|date("d/m/Y") : '' }}<br>
    <span class="text-semibold">RECURRENT : </span> {{ (campagne.recurrent) ? '<span class="fa fa-check-circle" style="color: green"></span>' : '<span class="fa fa-times-circle" style="color: red""></span>' }}<br>
    <span class="text-semibold">CHARGE : </span> {{ campagne.nom_complet }}<br><br>
    <ul class="progress-list">
        <li>
            {% if campagne.nb_actions == 0 or campagne.nb_actions == campagne.nb_non_demarrer %}
                <label>Avancement <span>0%</span></label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active bg-danger" style="width: 0%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            {% elseif campagne.nb_actions == (campagne.nb_terminer + campagne.nb_abandonner) or campagne.nb_actions == campagne.nb_abandonner %}
                <label>Avancement <span>100%</span></label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active bg-green" style="width: 100%">
                        <span class="sr-only">100%</span>
                    </div>
                </div>
            {% else %}
                {% set percent = ((campagne.nb_terminer + campagne.nb_abandonner) * 100) / campagne.nb_actions %}
                <label>Avancement <span>{{ percent|round }}%</span></label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active bg-orange" style="width: {{ percent }}%">
                        <span class="sr-only">{{ percent|round }}%</span>
                    </div>
                </div>
            {% endif %}
        </li>
    </ul>
{% endmacro block_infos_campagne %}

{{ _self.block_infos_campagne(campagne) }}