{# digiprojets_form_ref_comm.twig #}

{% macro form_ref_comm(ref, cible) %}
    <input type="hidden" name="id_CIBLES" value="{{ ref.id_CIBLES }}">
    <input type="hidden" name="id_TYPES_COMMUNICATIONS" value="{{ ref.id_TYPES_COMMUNICATIONS }}">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Détail cible</label>
            <textarea name="detail" class="form-control content-group" rows="3" cols="1" disabled>{{ cible.detail }}</textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Volumétrie</label>
            <input type="text" class="form-control" placeholder="" name="volumetrie" value="{{ ref.volumetrie }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Date d'envoi</label>
            <input type="text" class="form-control" placeholder="" name="date_envoi"  autocomplete="false" value="{{ ref.date_envoi }}" tabindex="1">
        </div>
    </div>
{% endmacro form_ref_comm %}

{{ _self.form_ref_comm(ref, cible) }}