{# digiprojets_block-historique.twig #}

{% macro block_historique(history, position) %}
    <div class="timeline-row {{ (position == 'right') ? ' post-even' : '' }}">
        <div class="timeline-icon">
            <img src="{{ URL_PREFIX }}/img/logo-ca.png" alt="">
        </div>
        <div class="timeline-time">
            <span class="text-muted"><i class="fa fa-user"></i>&nbsp;{{ history.nom_complet }}</span>
            <span class="text-muted"><i class="fa fa-calendar"></i>&nbsp;{{ history.date_fr }}</span>
        </div>
        <div class="panel panel-flat timeline-content">
            <div class="panel-body">
                {{ history.descr|raw|nl2br }}
            </div>
        </div>
    </div>
{% endmacro block_historique %}

{{ _self.block_historique(history, position) }}