{# digiprojets_form_ref_comm_npc.twig #}

{% macro form_ref_comm_npc(ref, codes_projets) %}
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Code projet</label>
            <input type="text" class="form-control" placeholder="" name="code_projet" value="{{ code_projet.code_projet }}" tabindex="1">
{#            <select class="form-control select2-tag" multiple="multiple" data-placeholder="&nbsp;" name="code_projet">#}
{#                <option></option>#}
{#                {% for code_projet in codes_projets %}#}
{#                    {% if code_projet.code_projet is not null%}#}
{#                    <option value="{{ code_projet.code_projet }}" {{ (ref.code_projet == code_projet.code_projet) ? 'selected' : '' }}>{{ code_projet.code_projet }}</option>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </select>#}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Audience</label>
            <input type="text" class="form-control" placeholder="" name="audience" value="{{ ref.audience }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Date de fin</label>
            <input type="text" class="form-control" placeholder="" name="date_fin"  autocomplete="false" value="{{ ref.date_fin }}" tabindex="1">
        </div>
    </div>
{% endmacro form_ref_comm_npc %}

{{ _self.form_ref_comm_npc(ref, codes_projets) }}