{# digiprojets_block-commentaire.twig #}

{% macro block_commentaire(comment,user_logged) %}
    <li class="media {{ (comment.id_COMMENTAIRES_PARENT > 0) ? ' sub-media' : '' }} {{ (user_logged.user.id == comment.user_id) ? ' media-me' : '' }}" style="margin-bottom: 10px">
        <div class="media-left">
            <img src="{{ URL_PREFIX }}/img/logo-ca.png" class="img-circle" alt="">
        </div>
        <div class="media-body">
            <div class="media-content">
                {{ comment.contenu|nl2br }}<br>
                {% for attach in comment.getAttachements() %}
                    <div><i class="icon-attachment"></i>&nbsp;<a href="{{ URL_PREFIX }}/{{ attach.chemin }}" target="_blank">{{ attach.nom }}</a></div>
                {% endfor %}
            </div>
            <span class="media-annotation display-block mt-10">
                <span class="fa fa-user"></span>&nbsp;
                <span class="text-muted">{{ comment.nom_complet }}</span>&nbsp;-&nbsp;
                <span class="fa fa-calendar"></span>&nbsp;
                <span class="text-muted">{{ comment.date_fr }}</span>&nbsp;-&nbsp;
                <span class="fa fa-reply"></span>&nbsp;
                <a data-comment-id="{{ comment.id_COMMENTAIRES }}"><span class="text-muted">Répondre</span></a>
            </span>
        </div>
    </li>
{% endmacro block_commentaire %}

{{ _self.block_commentaire(comment,user_logged) }}