{# digiprojets_form_ref_comm_sms.twig #}

{% macro form_ref_comm_sms(ref) %}
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Référence</label>
            <input type="text" class="form-control" placeholder="" name="ref" value="{{ ref.ref }}" tabindex="1">
        </div>
    </div>
{% endmacro form_ref_comm_sms %}

{{ _self.form_ref_comm_sms(ref) }}