{# digiprojets_block-actions-popup.twig #}

{% macro block_actions(service, actions) %}
    <div class="panel">
        <div class="panel-heading bg-teal-300">
            <h6 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#list-actions-service-container" href="#accordion-services-group{{ service.id_SERVICES }}">{{ service.libelle }}</a>
                <span style="position: absolute;right: 0;top:-5px;display: none">
                    <a class="btn bg-slate btn-icon btn-sm heading-btn"><i class="icon-gear"></i></a>
                </span>
            </h6>
        </div>
        <div id="accordion-services-group{{ service.id_SERVICES }}" class="panel-collapse collapse">
            <div class="panel-body">
                {% for action in actions %}
                    <div class="col-md-3">
                        <div class="checkbox checkbox-switch">
                            <label>
                                {{ action.libelle }}
                                <input type="checkbox" name="actions[]" data-on-color="success" data-off-color="danger" data-on-text="OUI" data-off-text="NON" data-size="mini" class="switch" {{ (action.checked) ? 'checked' : '' }} value="{{ service.id_SERVICES }};{{ action.id_ACTIONS }}">
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro block_actions %}

{{ _self.block_actions(service, actions) }}