{# digiprojets_block-statut.twig #}

{% macro block_statut(statut) %}
    <div style="margin-bottom: 15px">
        <div class="label" style="background-color: {{ (statut.getStatut().color) ? statut.getStatut().color : 'grey' }};float: left;height: 40px;line-height: 35px;margin-right: 10px;min-width: 90px;">{{ statut.getStatut().libelle }}</div>
        <div>
            <span><i class="fa fa-user"></i>&nbsp;{{ statut.getUser().prenom ~ ' ' ~ statut.getUser().nom }}</span><br>
            <span><i class="fa fa-calendar"></i>&nbsp;{{ statut.date|date("d/m/Y H:i") }}</span>
        </div>
    </div>
{% endmacro block_statut %}

{{ _self.block_statut(statut) }}