{# digiprojets_block-ref-comm.twig #}

{% macro block_refs_comm(ref, statut, sub) %}
    <li class="media {{ sub }}">
        <div class="media-left">
            <img src="{{ URL_PREFIX }}/img/logo-ca.png" class="img-circle" alt="">
        </div>
        <div class="media-body">
            <div class="media-content">
                {% if ref.id_TYPES_COMMUNICATIONS == 3 and statut %}
                    <b>{{ (ref.audience|length > 0) ? ref.audience ~ ' - ' : '' }} (CIBLE&nbsp;{{ ref.getRef().getCibleDetail().num }})</b>
                {% elseif ref.id_TYPES_COMMUNICATIONS == 3 %}
                    <b>{{ ref.code_projet }}</b>
                {% elseif ref.id_TYPES_COMMUNICATIONS == 5 %}
                    <b>{{ (ref.getRefDetail().nom_projet_unica|length > 0) ? ref.getRefDetail().nom_projet_unica ~ ' - ' : '' }} (CIBLE&nbsp;{{ ref.getCibleDetail().num }})</b>
                {% else %}
                    <b>{{ (ref.getRefDetail().ref|length > 0) ? ref.getRefDetail().ref ~ ' - ' : '' }} (CIBLE&nbsp;{{ ref.getCibleDetail().num }})</b>
                {% endif %}
            </div>
            {% if statut %}
            <span class="media-annotation display-block mt-10">
                <span class="icon-shield-check"></span>&nbsp;
                <span class="text-muted"><span class="label" style="background-color: {{ statut.color }};">{{ statut.libelle }}</span></span>&nbsp;-&nbsp;
                <span class="fa fa-list-alt"></span>&nbsp;
                <a class="btn-load-ref_comm" data-ref-num="CIBLE&nbsp;{{ ref.getCibleDetail().num }}" data-ref-id="{{ ref.id_CIBLES }}"><span class="text-muted">Détail</span></a>
            </span>
            {% endif %}
        </div>
    </li>
{% endmacro block_refs_comm %}

{{ _self.block_refs_comm(ref, statut, sub) }}