{# digiprojets_block-campagne-popup.twig #}

{% macro champs_form_campagne(campagne, univers, users, pma) %}
    <input type="hidden" name="id_CAMPAGNES" value="{{ campagne.id_CAMPAGNES }}">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Nom de la campagne</label>
            <input type="text" class="form-control" placeholder="" name="nom" value="{{ campagne.nom }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Univers de besoin</label>
            <select class="form-control select2" data-placeholder="&nbsp;" name="id_UNIVERS_BESOINS">
                <option></option>
                {% for univer in univers %}
                    <option value="{{ univer.id_UNIVERS_BESOINS }}" {{ (campagne.id_UNIVERS_BESOINS == univer.id_UNIVERS_BESOINS) ? 'selected' : '' }}>{{ univer.libelle }}</option>
                {% endfor %}
                <option value="0">Autres</option>
            </select>
        </div>
    </div>
    <div class="col-md-12" style="display: none">
        <div class="form-group">
            <label class="control-label">Nom de l'univers de besoin</label>
            <input type="text" class="form-control" placeholder="" name="univers_libelle" value="" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">PMA</label>
            <select class="form-control select2" data-placeholder="&nbsp;" name="id_PMA">
                <option></option>
                {% for elem in pma %}
                    <option value="{{ elem.id_PMA }}" {{ (elem.id_PMA == campagne.id_PMA) ? 'selected' : '' }}>{{ elem.libelle }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Commercialisation</label>
            <input type="text" class="form-control" placeholder="" name="date_commercialisation" autocomplete="false" value="{{ campagne.date_commercialisation }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Début des actions</label>
            <input type="text" class="form-control" placeholder="" name="date_debut"  autocomplete="false" value="{{ campagne.date_debut }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Fin des actions</label>
            <input type="text" class="form-control" placeholder="" name="date_fin" autocomplete="false" value="{{ campagne.date_fin }}" tabindex="1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Récurrent</label>
            <select class="form-control select2" data-placeholder="&nbsp;" name="recurrent">
                <option></option>
                <option value="1" {{ (1 == campagne.recurrent) ? 'selected' : '' }}>Oui</option>
                <option value="0" {{ (0 == campagne.recurrent) ? 'selected' : '' }}>Non</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Chargé</label>
            <select class="form-control select2" data-placeholder="&nbsp;" name="user_id">
                <option></option>
                {% for user in users %}
                    <option value="{{ user.id }}" {{ (campagne.user_id == user.id) ? 'selected' : '' }}>{{ user.prenom ~ ' ' ~ user.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro champs_form_campagne %}

{% macro block_campagne(campagne, univers, users, pma) %}
    <div class="panel">
        <div class="panel-heading bg-teal-800">
            <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#list-actions-service-container" href="#accordion-campagne-group{{ campagne.id_CAMPAGNES }}">Informations général</a>
            </h6>
        </div>
        <div id="accordion-campagne-group{{ campagne.id_CAMPAGNES }}" class="panel-collapse collapse in">
            <div class="panel-body">
                {{ _self.champs_form_campagne(campagne, univers, users, pma) }}
            </div>
        </div>
    </div>
{% endmacro block_campagne %}

{{ _self.block_campagne(campagne, univers, users, pma) }}