{% extends 'masterpage.twig' %}

{% block head %}

	{{ parent() }}

{% endblock head %}

{% block content %}

	<div class="container-fluid">
		<h1>Bonjour&nbsp;<span class="text-semibold">{{ user_logged.user.prenom }}&nbsp;{{ user_logged.user.nom }}</span>, bienvenue sur votre espace DIGI'TICKETS :</h1>
	</div>

	<script>
    
		$(function() {

		})
        
	</script>

{% endblock content %}